[2019-02-11 10:22] #481 closed

[2019-02-11 10:22] #482 closed

[2019-02-12 12:06] sigo opened #483 "Missing "npm start" script in package.json (or incorrect command in readme)"
## 🐛 Bug Report

Documentation says about `npm start` command (https://github.com/gilbarbara/react-joyride/blame/master/README.md#L79), but there's no one in `package.json` file. 😉

[2019-02-12 12:15] gilbarbara commented on #483
The command is for react-joyride-demo package...

[2019-02-12 12:15] #483 closed

[2019-02-12 23:19] gilbarbara commented on #480
Added in 2.0.5

[2019-02-12 23:19] #480 closed

[2019-02-21 16:58] burtonator opened #486 "Documentation / example on setting up a controlled tour."
It would be nice to have documentation and an example on how to setup a controlled tour.

I want the user to be able to click on a menu, reveal the menu, then click on a button.

Right now I can't figure out how to do this.

Joyride is great btw.  Easy to setup and did a great job explaining the app we're developing:

https://getpolarized.io/

the goal is walk them through the main features and ne

[2019-02-22 12:16] gilbarbara commented on #486
Hey @burtonator
Did you check the controlled example in the demo?

[2019-02-22 15:54] burtonator commented on #486
Just to verify,

You just use the 'step' manually and then handle the state via the callbacks?

I think I figured it out. Maybe just a 'how to do a controlled demo' would work.

Also, do I need to manually determine when my app is in the right state by setting step once it's changed by adding my own event listeners?

[2019-02-22 16:58] gilbarbara commented on #486
That's what the demo is for... :)
Yeah, when you set a stepIndex the whole control flow is handled by you.

[2019-02-22 19:25] burtonator opened #487 "Support for a target with multiple elements."
I'd like to target multiple elements for tooltips.

If a selector turns one element that's fine. Just call getBoundingClientRect on it and it should work find.

If multiple are returned just compute the bounding client rect of all of them.

This is necessary if you have like a nav bar with multiple buttons that you'd like to highlight.

I can't create a new selector as some of the react libs we're

[2019-02-22 19:26] burtonator commented on #487
[code]

... that would work.

[2019-02-23 08:29] gilbarbara commented on #487
Not sure I understand what you are proposing.
You can have multiple steps for different targets...

[2019-02-23 08:57] burtonator commented on #487
One step. Multiple targets. Usually they are clumped together

[2019-02-23 12:29] gilbarbara commented on #487
Nevermind...

I don't think this would work with small screen anyway so I'm closing this.
Feel free to fork this repo and add it yourself.

[2019-02-23 12:29] #487 closed

[2019-02-23 12:29] #486 closed

[2019-02-23 12:29] #356 closed

[2019-02-23 12:30] #397 closed

[2019-02-23 18:02] burtonator commented on #487
Why wouldn't this work for a small screen?

I have three buttons back to back that I need to highlight.

I can target them via:

".buttonA, buttonB, .buttonC"

It's easy to target them but just building the box around them.

I think maybe we aren't on the same page regarding this feature?

[2019-02-23 18:04] burtonator opened #488 "disable scrolling not working."
I'm trying to target 'body' with a splash intro on the tour but my body is bigger than the screen so the overlay has a scrollbar.

I tried disableScrolling but that doesn't work.

Then I tried doing something like:

                    overlay: {
                        maxHeight: '100%'
                    }

in 'styles' but the CSS params aren't being applied to the final style.

I tried overflo

[2019-02-24 13:25] AE0011 opened #489 "spotlight style won't override the default style"
custom position style for spotlight won't override the default one
[code]
as u can see in my code at run time position will remain 'absolute' however the color attr will changed

`"react-joyride": "^2.0.5",`

![screen shot 2019-02-24 at 4 53 12 pm](https://user-images.githubusercontent.com/37038198/53299801-bc5b0200-3854-11e9-89cd-364063271a60.png)

[2019-02-24 14:18] gilbarbara commented on #488
`disableScrolling` has other purpose as described in the docs: **Disable auto scrolling between steps.**

The overlay is positioned on the top of your content and doesn't have scroll at all, since it has `overflow: 'hidden'` already set.

Your body probably have scroll and this library won't change that. You need to disable scroll by yourself for this particular step. You can use another package f

[2019-02-24 14:18] #488 closed

[2019-02-24 14:26] gilbarbara commented on #489
Hey,

The Spotlight positioning is set [dynamically](https://github.com/gilbarbara/react-joyride/blob/master/src/components/Overlay.js#L160) and you can't override it.
If your target has `position: fixed` the spotlight will use that, otherwise it has to be absolute.

[2019-02-24 14:26] #489 closed

[2019-02-24 14:47] AE0011 commented on #489
Hi thanks for your response
In my case i need that spotlight always be fixed ( i implement tour guide in boundary area constant width & height)
Any way i edited library and changed position of spotlight to fixed! still i think i should be overridable because spotlight view is completely different with the target view and it shouldn't take positioning same as target view.

[2019-02-24 14:54] gilbarbara commented on #489
It's impossible to know what is going on without seeing it running.
Can you post an example?
Is your "boundary area" fixed on the page? Does the page have scroll?

[2019-02-24 14:56] gilbarbara commented on #489
BTW if you changed the source code directly, it will break when a new version is released and that won't work for new installations or with CI/CD.

[2019-02-24 15:35] AE0011 commented on #489
Oh i was dealing with this issue all day it's too much code to post :)) however main idea is like this:

I implemented project in size of mobile(400px 800px) so my main div have this boundary (sure it has scroll too). but when i used this useful package every thing worked fine but overlay didn't respect to my main div boundary and all screen got overlay!

So i set boundary to overlay view and 'abs

[2019-02-24 16:05] burtonator commented on #488
This is still a problem and not sure exactly what's happening

The "#react-joyride-portal" element needs to have

max-height: 100%

...

and the element below needs to be deleted and then the scroll vanishes.

I think it's the beacon but I have the beacon disabled.  The scroll is being shown because the body is selected but the beacon is inserted BELOW the content.

If I delete this or set it to d

[2019-02-24 16:07] burtonator commented on #488
I have ```disableBeacon: true``` but I think it's still shown just visibility: hidden.  Might have to display: none it?

This isn't a massive problem but it's a bit annoying as my page now has two scrollbars on the right when the tour is active.

[2019-02-24 16:10] burtonator commented on #488
ok.. a work around I found was to just use 'header' which is smaller than the entire page in my app but always present.

Joyride is great btw.. Hope it doesn't seem like I'm complaining.

Already doubled our cohort analysis on the 2nd day. Hoping to get it much higher.

[2019-02-24 16:32] gilbarbara commented on #488
Yeah, no problem. :)

But it is impossible to debug an app without seeing it. Most of the time it's a CSS issue that this package can't and shouldn't have to handle.

[2019-02-24 17:16] burtonator opened #490 "Auto advance instead of more controlled tours?"
I'm looking at setting up more controlled tours and it seems to be prone to coding error simply because code is involved.

I think we could use DOM mutation events and CSS selectors to determine when to advance.

Most of my controlled tour ideas are something like "click this element, then click this button" each of which mutate the DOM and expose a new Element.

Could we handle this by having the

[2019-02-24 17:31] congdcit opened #491 "How to use it with multi pages"
I have multi pages using `react-router`. How to use it? Anyone can help please!

[2019-02-24 18:23] gilbarbara commented on #491
### Please note that this issue tracker is not a help form and this issue will be closed.

For questions or help please see:

- [The documentation](https://docs.react-joyride.com/)
- [Our chat on Spectrum](https://spectrum.chat/react-joyride)
- The [react-joyride](https://stackoverflow.com/questions/tagged/react-joyride) tag on [StackOverflow](https://stackoverflow.com/questions/ask)

[2019-02-24 18:23] #491 closed

[2019-02-24 18:31] gilbarbara commented on #490
That's something I really don't want to add to this package and exactly why I added the controlled mode.

This will increases complexity and generate tons of issues that I don't have time to deal with. I've spent over 300 hours getting V2 ready and I need to focus on other projects now.

Thanks

[2019-02-24 18:31] #490 closed

[2019-02-24 19:08] burtonator commented on #490
Fair enough. I think I can do it in like 50 to 100 lines code and keep it super simple. If you like it I can clean it up and send a pr or something

[2019-02-25 23:34] gilbarbara commented on #490
You can post the code here, it might help some other users.
[s]

[2019-02-26 20:52] burtonator opened #492 "id for steps."
Just a small feature request.

It might be nice to have an id for steps as part of the Step object (optional).

This way it's easier to build state machines for controlled demos and also to report stats where the user stalled or skipped in the tour.

The 'index' can change but this way the ID doesn't.

[2019-02-26 23:32] gilbarbara commented on #492
You can set any property on the step object.
Are you using typescript?

[2019-02-27 21:08] cuginoAle opened #493 "Jittering message-box when scrolling (some screen widths only)"
## 🐛 Bug Report

When scrolling the page content the message box tries to position itself multiple times on top and left side of the element.
In the demo page this happens only at some resolutions (it shows up around @ 1050 x 800)

## To Reproduce

 see screen-shot

![ezgif com-video-to-gif](https://user-images.githubusercontent.com/1298616/53523021-fdb11300-3adb-11e9-9e4e-80956cbaaef2.gif)

[2019-02-27 21:18] gilbarbara commented on #493
The positioning is handled by popper.js (via react-floater) so there's not much I can do.
If this is something that affects your app, you should avoid using left/right or disable the flip options

[2019-03-01 15:22] gugiserman opened #494 "Can't call setState on an unmounted component"
## 🐛 Bug Report

I don't see any side-effects in the UI but I always get this error thrown in the console when transitioning to the last step.

[code]

## To Reproduce

it's a quite simple 3-step tour. We're running Nextjs 7, the component that renders `<Joyride />` with the following steps is placed at the `_app.js`, but no steps are loaded and it doesn't `run` until some time after it's been ren

[2019-03-05 16:16] BOOSTOProtocol commented on #211
the next function seems to be gone in the new version. What is the alternative way of calling .next for the new version?

[2019-03-06 16:45] gilbarbara commented on #211
@BOOSTOProtocol check the controlled example in the demo.

[2019-03-06 16:46] #493 closed

[2019-03-06 16:46] #492 closed

[2019-03-07 08:54] SamiNami opened #495 "Center tooltip while target highlighted"
## 💬 Questions and Help

Hi, is it possible to highlight an area with the beacon while having the tooltip centered? How would I go about doing this?

[2019-03-07 11:18] gilbarbara commented on #495
Hey,

You mean to show the beacon next to a target but render the tooltip without context? Nope. Wouldn't that be a bad UX, especially on mobile?

[2019-03-07 12:30] SamiNami commented on #495
Hi,

This is what I'm trying to do:

https://www.dropbox.com/s/5z5yh6x7gtm3h1l/Screenshot%202019-03-07%2014.29.36.png?dl=0

[2019-03-07 12:33] gilbarbara commented on #495
Yeah, not possible.

[2019-03-07 12:33] #495 closed

[2019-03-07 16:20] selyon opened #496 "Tour stop when it reaches index 10/step 11"
## 🐛 Bug Report

I have 20 steps to show, but when it reaches index 10, so step 11 because it starts from zero, the tour is stopped automatically.
This is the console log of the object passed to the callback, at index 10 it has lifecycle "init".
When it reaches index 10 it print all the other values after that in one second
![schermata 2019-03-07 alle 17 16 20](https://user-images.githubuserconten

[2019-03-07 16:26] selyon commented on #496
This is my callback if it can be usefull

tooltipCallback = data => {
    if (
      data.action === "close" &&
      data.lifecycle === "complete" &&
      data.type === "step:after"
    ) {
      this.setState({ runTour: false });
    }
    if (data.index === 4 && data.type === "step:before") {
      method();
    }
    if (data.index === 5 && data.type === "step:before") {
      anotherMethod()

[2019-03-08 09:16] selyon commented on #496
I found the problem, Joyride seems to be unable to attach to hidden elements.
I have an element, a side panel, that's hidden with display: none.
I tried this but it's not working:

- at step 10 the element is hidden
- inside the callback, if index is 9 (so step is 10) and type is "step:after" it call a function
- this function set the element as visible, display: block
- when step 11 (index 10) st

[2019-03-08 15:18] SamiNami commented on #496
Since react state updates are asynchrounous, you might have to wait for the panel to mount. You need to make your tour controlled, and only update stepindex after the state has been updated.

Something like this could work:

`this.props.togglePanel().then(() => {
 this.setState({ stepIndex: index + (action === ACTIONS.PREV ? -1 : 1) });
})`

check here: https://codesandbox.io/s/github/gilbarbara/r

[2019-03-11 07:40] selyon commented on #496
I understand this, but my component is already mounted. The div element with the selector is already in the DOM of the page, it's only hidden. I asked why the library can't connect a step to an hidden element and if it's normal this behaviour. Thanks

[2019-03-11 09:00] selyon commented on #496
I also tried to stop the code inside the callback, making it "sleep" with a promise and setTimeout, but the tooltip is shown regardless the callback is finished or not. What is the purpose of the callback and the event types if you can't control the flow?

[2019-03-12 03:49] gilbarbara commented on #496
Because a hidden element doesn't have size and the library needs to position itself with that info. Yes, is the normal behaviour.

Are you using a `stepIndex` to control the tour? Read more about this in the [docs](https://docs.react-joyride.com/props).

[2019-03-13 17:55] ZivJia opened #497 "Uncaught (in promise) TypeError in popper"
## 🐛 Bug Report

I am using version 2.0.5 with preact. When running the joyride(set property `run` to true), I got this error.

[code]

I think popper.js is used in the react-joyride module right? The result of this is I can see there are rendered tooltips but they have property `visibility: hidden`, `oppacity: 0`

## To Reproduce

here are steps I use:
[code]

The joyride component:
[code]

The c

[2019-03-14 13:20] edwinbbu opened #498 "Clicking on overlay not closing the tooltip in case of spotlightClicks in controlled mode"
## 🐛 Bug Report
Clicking outside the tooltip not closing the tooltip in case the spolightClicks: true  ( In controlled Mode). Tried this via demo and codesandbox. If there is no option please add that option
## To Reproduce
Steps to reproduce the behavior:
Create a tour in controlled mode. Keep button for incrementing the tour step.

[code]
[code]

## Expected behavior

User able to close the tool

[2019-03-14 20:58] samwightt commented on #353
Vertical scrolling still isn't working in `2.0.5` with an overflow div (and without). I've set `scrollToSteps={true}` in the Joyride component but it still doesn't seem to want to scroll all of the way down... Any suggestions?

[2019-03-14 22:31] FMGordillo commented on #353
+1

[2019-03-15 06:20] edwinbbu commented on #498
Code error

[2019-03-15 06:20] #498 closed

[2019-03-15 23:45] MarcusJay commented on #374
Multiple tours are very useful for larger, more complex apps. Most users won't sit through 20+ steps, but 2-3 shorter tours are doable for most. I'm using currently using 2, and there are beacon positioning problems, but I'm working around them best I can.

[2019-03-18 20:04] #497 closed

[2019-03-18 20:07] ZivJia opened #499 "Hide next button"
## 💬 Questions and Help

Just want to know if we have a hideNextButton option somewhere or do I have to wirte my tooltip component in order to do that.

### Please note that this issue tracker is not a help form and this issue will be closed.

For questions or help please see:

- [The documentation](https://docs.react-joyride.com/)
- [Our chat on Spectrum](https://spectrum.chat/react-joyride)
- Th

[2019-03-20 05:56] edwinbbu commented on #499
I face the same issue there is no option to hide the next button, but there is option to hide the back button

[2019-03-20 06:04] edwinbbu opened #500 "Spotlightclicks not triggering any joyride event"
## 🐛 Bug Report

button on click is not triggering any joyride action/event in controlled mode.

## To Reproduce
Create joyride navigation with options:
     ` spotlightClicks: true,
       stepIndex: 2`

## Expected behavior

Button click to trigger `action='next'` in the joyride callback event

[2019-03-20 13:34] ZivJia commented on #499
@edwinbbu I actually just used the hideFooter instead.

[2019-03-22 05:19] edwinbbu commented on #500
In reference to issue #447 , the answer provided for closing the issue is:
Yes, use the callback prop in V2.
https://github.com/gilbarbara/react-joyride/blob/master/docs/callback.md

But the issue is that I have to manually trigger the joyride from the onclick event

[code]

[2019-03-22 05:27] edwinbbu commented on #499
@ZivJia I did the same using hideFooter and custom Tooltip. It is better to have option for hiding the next button alone.

[2019-03-28 00:06] gilbarbara commented on #499
You can use the `styles` prop for it.

[code]

[2019-03-28 00:06] #499 closed

[2019-03-28 00:06] #496 closed

[2019-03-28 00:08] ZivJia commented on #499
Thank you very much

[2019-03-28 00:11] gilbarbara commented on #500
It's impossible to know what is happening without seeing some code, so I need a reproduction example, preferably on codesandbox.

[2019-03-28 00:12] gilbarbara commented on #500
BTW, do you really need to have a controlled tour with `stepIndex`?
A standard tour usually doesn't need it...

[2019-03-28 06:48] edwinbbu commented on #500
I have created a sample code in [codesandbox](https://codesandbox.io/s/624p6roj13?fontsize=14) . I am expecting the button click the automatically trigger any joyride event.

[2019-03-28 10:44] rahul1si12is035 opened #503 "How to remove / hide "Close" Button?"
I am using this library in my react app. I do not want to show "Close" button. How to remove / hide "Close" Button? Thanks in advance.

[2019-03-28 12:15] edwinbbu commented on #494
I also faced similar issue. I manually set `run: false` before the component unmounted @gugiserman

[2019-03-28 12:18] edwinbbu commented on #503
You can create a custom Tooltip where you can hide the Close Button (isLastStep prop is provided to check for the last step). There is no props provided by joyride for hiding next/close button @rahul1si12is035

[2019-03-28 12:33] gilbarbara commented on #503
@rahul1si12is035 Yes, you can use the `styles` prop. Check the [docs](https://docs.react-joyride.com/styling)

As always, search the issues before posting a new one since this has already been answered.

[2019-03-28 12:33] #503 closed

[2019-03-29 00:59] gilbarbara commented on #500
The custom button below the title?

Since it is outside the Joyride UI it is your job to handle the click. This library can't access elements outside its domain.
When you set a target, it is used as the origin for Joyride's positioning and highlighting but the content inside it is not used.

[2019-03-29 00:59] #500 closed

[2019-04-01 18:46] glyif-wonder opened #504 "progress with dots"
## 🚀 Feature Idea

Instead of having the progress being shown in as like 1/6 in the next button, have the progress be shown with dots.

## Motivation

a different, maybe more elegant way of showing progress

## Example

Something like this:
<img width="438" alt="Screen Shot 2019-04-01 at 11 46 26 AM" src="https://user-images.githubusercontent.com/35234523/55351684-d00d1000-5473-11e9-842a-39666ed36

[2019-04-03 10:45] shtengel opened #505 "Overflow is cancelled, can't scroll, half of page is missing"
## 🐛 Bug Report

When i put a <Joyride /> tag inside my `render()` function, the page overflow is hidden and then half of my page is cut. (can't scroll down, but if i use "Inspect Source in Chrome" find a element outside the screen and click Scroll Into View then the page does scroll to that element but you cant scroll to top that part is now cut off the page)

without the <Joyride /> tag i still

[2019-04-03 11:08] shtengel commented on #505
when `joyride-overlay` is opened half of my page is still missing, i can't react it , even i set scrollToSteps={true}

[2019-04-03 11:51] gilbarbara commented on #505
This is probably a CSS issue with your setup and this library cannot fix these issues by itself.
You can add `min-height: 100vh;` to the `body` tag to see if it fixes your problem.

[2019-04-03 11:51] #505 closed

[2019-04-03 11:54] gilbarbara commented on #504
Hey,

You can use your [own component](https://docs.react-joyride.com/custom-components) and change the UI to your needs.

[2019-04-03 11:54] #504 closed

[2019-04-09 16:04] trphunt opened #506 "typo on readme image"
Readme.md shows an image which says `Let's beign our journey!` whereas it should read `Let's begin our journey!`

![reactJoyride](https://user-images.githubusercontent.com/30430132/55816029-64ecba80-5abf-11e9-92b2-31454fd601d0.PNG)

[2019-04-09 22:52] scottcinatl commented on #506
I have a fix for this on my local branch that is ready for a PR. But I am running into some access rights into trying to push the commit. @gilbarbara, if possible, could you guide me in getting access rights to push to this repo?

[2019-04-10 13:22] gilbarbara commented on #506
You can't have access rights. You'll need to fork, edit the files and open a PR.
https://akrabat.com/the-beginners-guide-to-contributing-to-a-github-project/

[2019-04-10 15:31] scottcinatl commented on #506
Opened a PR for this issue with #507

[2019-04-10 20:49] rakid opened #508 "Can't perform a React state update on an unmounted component (resizeListener)"
## 🐛 Bug Report

When I have a parent component who listen to resize event, and then I return null instead of returning joyride if size is lower than 800px
Then I have a warning : Can't perform a React state update on an unmounted component.

## To Reproduce

include Joyride in a component who listen to window resize, and then make a condition in render like `if (width < 800) return null` instead

[2019-04-10 22:38] torchsmith opened #510 "Wrong placement of tooltip"
## 🐛 Bug Report

The bug is that the tooltip is placed incorrectly.
![Screen Shot 2019-04-10 at 7 33 30 PM](https://user-images.githubusercontent.com/14154207/55917990-dc0d7600-5bc7-11e9-812c-b2660adf38f7.png)

react-joyride__overlay is also being assigned a height value much higher than the `<body>`

## To Reproduce

Steps to reproduce the behavior:
[code]

## Expected behavior

The tooltip shoul

[2019-04-10 22:42] Funisaac commented on #510
![Screen Shot 2019-04-10 at 7 42 14 PM](https://user-images.githubusercontent.com/14154207/55918241-c6e51700-5bc8-11e9-97a2-88be4675b77a.png)
This image may help.

[2019-04-11 11:31] richtera opened #511 "Typescript definition is not quite right"
## 🐛 Bug Report

Typescript definition of the getHelpers property indicates that it should return a StoreHelpers instead of accepting one. It's reverse

## To Reproduce

Within a typescript project try to assign the getHelpers property with a function that has a StoreHelpers argument.

## Expected behavior

It should work

## Link to repl or repo (highly encouraged)

![image](https://user-images.g

[2019-04-11 11:45] gilbarbara commented on #510
Post a codesandbox example.

[2019-04-13 20:34] Funisaac commented on #510
It would take more time than I have to make a codesandbox replicating this, however I did take a look at the CSS and it is all good CSS.

On a side note that I didn't mention though:
This **was** actually working about 2 weeks ago and there have not been any changes to the layout or CSS of the affected area.

Any thoughts? - I'll try to get a sandbox made up soon.

[2019-04-15 03:50] gilbarbara commented on #510
Oh, so it was working and stopped without changing the version?
How can it be a bug with this library?

[2019-04-27 14:12] #510 closed

[2019-04-30 10:29] sarbjeetsingh opened #512 "How can I use getHelpers prop"
Could you please explain getHelpers prop. I want to take user to different route if user skips or closes the joyride.

[2019-04-30 17:48] gilbarbara commented on #512
Use the callback instead.

[2019-05-01 05:49] sarbjeetsingh commented on #512
@gilbarbara Thanks it worked

[2019-05-01 05:49] #512 closed

[2019-05-12 14:47] nuthinking opened #513 "Restart tour with callback enabled"
I'd like to give my users the ability to restart the tour regardless if the tour is currently visible or not.

Because the `stepIndex` is driven by the `callback`, the problem I found is that if I change the `stepIndex` from the outside the `callback` will kind of restore it.
I found on another issue the `joyride.reset()` method but doesn't look like it still exists.

Is there a way to either say

[2019-05-12 15:27] nuthinking opened #514 "Stateless function components cannot be given refs"
## 🐛 Bug Report

I recently updated my Joyride library and I started getting the "Warning" in the title. Precisely:

[code]

## To Reproduce

My custom beacon component is:

[code]

And I pass it in this way:

[code]

I use React 16.2.0

Any idea how to fix/suppress this? Thanks!

[2019-05-15 02:29] gilbarbara commented on #513
Hey,

I'm not sure that I understand your problem.
The `stepIndex` is a variable that you can change anywhere, it doesn't need to be updated only inside the callback.
It can be a component's state key or a plain variable from context/redux.

[2019-05-15 02:34] gilbarbara commented on #514
Your BeaconView component needs to support refs...
I can't say from your example what kind of React component it is.

Please refer to React's [docs](https://reactjs.org/docs/refs-and-the-dom.html).

[2019-05-15 06:50] nuthinking commented on #514
`JoyrideBeacon extends React.Component`

why wouldn't it "support refs"? Do I need React 16.3?

[2019-05-15 06:52] nuthinking commented on #513
I obviously have a conflict between callback and redux. Is there a way to keep redux up-to-date without the callback?

[2019-05-15 12:44] gilbarbara commented on #514
`JoyrideBeacon` is a class component as `(props: any) => <BeaconView {...props} />` is a functional one.
Set your `BeaconView` directly:

[code]

[2019-05-15 13:36] gilbarbara commented on #513
No, the only way to communicate with Joyride is with the callback.
I've never implemented it with Redux so I'm not sure what's the proper way to sync them but shouldn't be any different as to sync it with an internal state.
If the tour is running the source of truth is the callback state. If it's not running the callback wouldn't be triggered.

[2019-05-15 13:36] #513 closed

[2019-05-15 13:53] nuthinking commented on #514
I am using TypeScript and the problem is that `"@types/react-joyride": "^2.0.2"` reports the following signature:
`export interface Props {
  beaconComponent?: (renderProps: BeaconRenderProps) => React.ReactNode;`

I suppressed the tslint error, and things work fine, doing:
`<Joyride
            beaconComponent={BeaconView as any}`

anyway, I also get the console warning **"beacon is not a valid D

[2019-05-15 13:56] nuthinking commented on #513
I will check again the **controlled** example, I might have missed something. Thanks!

[2019-05-15 14:01] nuthinking commented on #513
Sorry, I had a look. But if _"the only way to communicate with Joyride is with the callback"_, how do I restart a tour from a UI event outside JoyRide? Is this possible?

[2019-05-16 23:55] gilbarbara commented on #514
It's impossible to know what's happening without running the code.
Please post an example in codesandbox

[2019-05-21 03:07] sjgmojica opened #515 "Multipage"
Hi,

May I know it is possible to make as multipage? I need to make a tour end to end. If possible, can you give me an example?

Thanks

[2019-05-21 07:25] sjgmojica opened #516 "Typescript error on placement field"
Hi,

Upon checking your source code, I see that you declared placement value but it shows me some ts error even I put the correct value of `placement`.

Thanks

[2019-05-21 23:08] gilbarbara commented on #516
Where are you using `placement`? On the step or the component itself?

[2019-05-21 23:09] gilbarbara commented on #515
Yes, it is.
Check the controlled example in the demo.

[2019-05-21 23:09] #515 closed

[2019-05-22 00:49] sjgmojica commented on #516
On the step.

On Wed, 22 May 2019 at 7:08 AM Gil Barbara <notifications@github.com> wrote:

[2019-05-22 05:21] gilbarbara commented on #516
Yeah, I missed that.
I was reading about it literal inference [here](https://basarat.gitbooks.io/typescript/docs/types/literal-types.html).

One option would be to set it like this:

[code]

But it is clumsy.
I will read more about it tomorrow and if you have a solution for this, let me know.

[2019-05-22 06:12] sjgmojica commented on #516
Ok I see..thanks

On Wed, 22 May 2019 at 1:21 PM Gil Barbara <notifications@github.com> wrote:

[2019-05-23 20:00] catncradle opened #517 "Arrow is misplace in IE"
## 🐛 Bug Report

When running the tour in IE, every tooltip with the placement of "left" misplace the arrow

## To Reproduce

Steps to reproduce the behaviour:
run a tour in IE and have a few steps that have a "left" placement

## Expected behaviour
![image](https://user-images.githubusercontent.com/35584695/58282130-de402400-7d72-11e9-95b7-b45afa50cbb4.png)

## In IE
![image](https://user-images.

[2019-05-27 09:30] sjgmojica opened #518 "Render tour upon clicking button"
Hi ,

Need help.. I have separate component. I called it product card component where in there is a add button. When I click the add button It will change into quantity box. My app break down when I click the add button. What I want to do is when i click next of the tour then point to add button it shows the tooltip (which is now work) , then click add button shows the quantity box with tooltip. K

[2019-05-27 13:10] gilbarbara commented on #518
You'll probably need to use a controlled tour. Check the demo for more information

[2019-05-27 13:10] #518 closed

[2019-05-28 21:21] ryanewtaylor opened #519 "Overlay not rendering when steps are skipped (Target not mounted)"
## 🐛 Bug Report

Under yet to be determined specific circumstances the overlay is not rendering when steps are skipped. But here's what I know...

## To Reproduce

Browser: Chrome
React-Joyride Version: 2.0.5

I set up React-Joyride to render 3 steps like so...

[code]

### No Missing DOM Nodes
If the divs for step1, step2, and step3 exist everything proceeds normally when I start the tour. The ov

[2019-05-29 13:13] nbdn commented on #253
You can hide the close button (x) through the styles prop :
[code]

[2019-05-29 22:35] gilbarbara commented on #519
Hey,

UI problems are super hard to guess, especially when you can't reproduce, as you've said.
Did you try to set the debug prop? Nothing helpful there?

[2019-05-30 11:07] nikita2423 opened #520 "Not able to reset tour if already taken and want to retake tour"
I have a application in which when a new user signed up, it starts the tour to explain the application. It works perfectly fine.
I have also a help button having a functionality to retake the tour
On the first time page loaded, retaking the  tour perfectly fine and if user pressed skip button and want to retake the tour again without loading the page, then it is not working.

Followed the links be

[2019-05-31 02:27] #520 closed

[2019-05-31 12:48] ryanewtaylor commented on #519
I did set the debug prop. Nothing stuck out to me. At least, I didn't see any warnings or errors. Should there be any debug information related to whether or not the overlay should be displayed? It didn't seem like there was from the source.

[2019-06-04 02:10] sjgmojica opened #521 "A little bit space on overlay"
Hi,

I want to spotlight exactly on the target but I noticed has a little bit space. kindly see the attached file.

Thanks
<img width="379" alt="Screen Shot 2019-06-04 at 10 12 21 AM" src="https://user-images.githubusercontent.com/14226982/58846295-46ff9880-86b1-11e9-946b-ceb6a372da75.png">

[2019-06-04 08:28] owenpearson opened #522 "disableOverlayClose not working"
### Description

I am trying to create a controlled joyride, closely following the example [here](https://docs.react-joyride.com/callback)

## To Reproduce

Steps to reproduce the behavior:

In the App component (of create-react-app) add the following component state:

    state = {

    run: true,

    steps: [
      {
        target: '#thefirstjoyride',
        content: 'This is something...',

[2019-06-04 12:48] gilbarbara commented on #522
Hey,

There's no close button on the overlay, just on the tooltip and the `disableOverlayClose` prop has a different functionality: **Don't close the tooltip when clicking the overlay.**

If you want to customize the UI, please follow the instructions [here](https://docs.react-joyride.com/styling).
You have two options: pass a styles prop with your changes or use a custom component.

[code]

[2019-06-04 12:48] #522 closed

[2019-06-04 12:49] gilbarbara commented on #521
Check out styling instructions [here](https://docs.react-joyride.com/styling)

[2019-06-04 18:40] kwynns commented on #490
@burtonator curious if you've been able to add that functionality?

[2019-06-04 18:43] burtonator commented on #490
@kwynns I sort of implemented something from scratch and I can post the link to it but it would need to be lifted out ...

[2019-06-04 19:39] kwynns commented on #490
@burtonator that would be extremely helpful. Would appreciate a head start if only by looking at how you accomplished that.

[2019-06-04 20:04] gilbarbara commented on #519
@ryanewtaylor I don't think there are messages specific to the Overlay but it might show something else.
Is the `react-joyride__overlay` rendered at all?

[2019-06-05 00:32] dropbeardan opened #523 "React Joyride not triggering scroll"
I am currently using React Joyride v2.0.5 and am using custom components:

A custom tooltip with tooltipProps passed to it.
A custom next button with primaryProps passed to it.
Each of my steps have `disableBeacon: true` as a property

When I go through the steps in the Tour, the page does not scroll despite the target not being on the page at all.

After investigating, it seems like the shouldScr

[2019-06-05 00:41] dropbeardan commented on #523
The demo works because it is triggering scrollToFirstStep

[2019-06-05 00:43] gilbarbara commented on #521
Sorry, this padding is on the spotlight and it is calculated in the code and it can't be changed thru styling.
I'll try to add this with styles soon.

[2019-06-05 00:45] dropbeardan commented on #523
@gilbarbara I can reproduce this and will move this to the bug with an open fork from the demo:

Running the demo without "scrollToFirstStep" will disable the scrolling completely.

[2019-06-05 00:47] gilbarbara commented on #523
You can just fork the codesandbox demo. There's no need to fork the repo.

[2019-06-05 00:50] dropbeardan commented on #523
Cheers, didn't see that link on the Demo PR

[2019-06-05 00:52] dropbeardan commented on #523
I will close this issue and log a genuine bug

[2019-06-05 00:52] #523 closed

[2019-06-05 00:58] dropbeardan opened #524 "Page does not scroll if scrollToFirstStep is not specified"
## 🐛 Bug Report

Page does not scroll if the Joyride does not have the `scrollToFirstStep` passed to it despite the target being off-page.

It seems to be in-line with previous findings (https://github.com/gilbarbara/react-joyride/issues/523)

## To Reproduce

Comment out the `scrollToFirstStep` prop from the `Basic` demo and it will reproduce the issue (see codesanbox link)

## Expected behavior

[2019-06-05 01:54] sjgmojica commented on #521
Ok i will try this.Thanks

On Wed, 5 Jun 2019 at 8:43 AM Gil Barbara <notifications@github.com> wrote:

[2019-06-05 15:56] ryanewtaylor commented on #519
@gilbarbara , the `react-joyride__overlay` does not render in the failing case. The `react-joyride-portal` does render, but there are no children. Here's a sample of what I see in the failing case when `debug=true`.

![image](https://user-images.githubusercontent.com/1215819/58971209-f0fe2400-8788-11e9-835d-435ef8fdccbe.png)

[2019-06-06 00:16] burtonator commented on #490
Code should be here.

It's probably split up across 2-3 files though.

https://github.com/burtonator/polar-bookshelf/blob/bce5f13fd2f0aac3a7ef312b9e0dbb461c290f1a/web/js/apps/repository/RepositoryTour.tsx

[2019-06-06 00:27] gilbarbara commented on #490
@kwynns You just need a MutationObserver on the callback that will wait for the target to appear and then increment the stepIndex.

[2019-06-13 18:41] arpitjain-in opened #525 "Pricing?"
is react-joyride free for commercial use also?

[2019-06-13 18:53] arpitjain-in commented on #525
Thanks @gilbarbara, on responding me on spectrum that Yes, it is for commercial purpose too.
Under `https://github.com/gilbarbara/react-joyride/blob/master/LICENSE`.

[2019-06-13 18:53] #525 closed

[2019-06-14 13:18] rlajous opened #526 "Custom Style for every class"
## 🚀 Feature Idea

The idea is to give full control of the styling of each element.

## Motivation

I encountered that I needed to change some classes to make the design look more like my designer specifications.

 I would like to start talking about this property

`mixBlendMode`

It is a clever approach to make the illusion for the spotlight, but it changes the background color and never will be

[2019-06-15 16:23] ArtDev616 opened #527 "Documentation bug"
## 🐛 Bug Report

I found **missing import** on official documentation.

## To Reproduce

If you open this link below, you can find the missing import.
https://docs.react-joyride.com/callback
![image](https://user-images.githubusercontent.com/46373595/59553776-b6736300-8fa2-11e9-9664-9da63f7c26c5.png)

## Current behavior
import Joyride, { ACTIONS, EVENTS } from 'react-joyride';
## Expected behavio

[2019-06-16 08:19] SamiNami commented on #495
Wrote a custom tooltip for this (in case anyone is looking for a solution)

[2019-06-19 08:24] dropbeardan commented on #524
In IE11, this does not scroll even when `scrollToFirstStep` is specified

[2019-06-20 00:41] dropbeardan commented on #524
IE11 scroll works with `scrollToFirstStep` and adding a browser DOM polyfill:
https://github.com/mathiasbynens/document.scrollingElement

as per recommendation from `scrollparent` which React Joyride utilises for scrolling concerns

[2019-06-24 15:36] Tony4469 opened #528 "Documentation bug : spotlightClicks has wrong type"
## 🐛 Bug Report

Hi,

There is a small typo in the documentation, in the props page (https://docs.react-joyride.com/props)

The props spotlightClicks has type "number" instead of "boolean", and the props "spotlightPadding" has type "boolean" instead of number

Great tool by the way !

[2019-06-25 14:28] NikhilAshodariya commented on #489
@AE0011 I am also facing the same issue if you don't mind can you please share the code for it.

[2019-06-26 08:47] AE0011 commented on #489
@NikhilAshodariya
I almost forgot about details but this is what i did :

[code]

[code]

[2019-06-28 07:07] dropbeardan opened #529 "Spotlight does not synchronise with components having position: sticky"
## 🐛 Bug Report

When a Step targets a Sticky component and the user scrolls the page, the spotlight desynchronises with the target (see the repl below)

## To Reproduce

Create a sticky component, target that sticky component using a Tour step.

## Expected behavior

The spotlight should follow the sticky target.

## Link to repl or repo (highly encouraged)

https://codesandbox.io/s/react-joyride

[2019-06-28 07:08] dropbeardan commented on #529
@gilbarbara There's been a few issues with Spotlight desync, just for my own benefit was there any particular reason you chose the path of maintaining an internal spotlight position on-scoll rather than recalculate position based on target's new position?

[2019-06-28 17:00] gilbarbara commented on #529
Hey,

To be simple and avoid expensive calculations.

[2019-06-28 20:39] NikhilAshodariya opened #530 "Language change for next, skip and close button would be great to have."
## 🚀 Feature Idea

A clear and concise description of what the feature is.
For buttons like next, skip and close button when I change language it does not changes automatically based on browser preference.

## Motivation
Got the idea from project working on .

[2019-06-30 21:24] gilbarbara commented on #530
What do you mean by change language, the browser language?
You can customize and change these strings with the `locale` prop.

[2019-06-30 21:47] #527 closed

[2019-06-30 21:47] #528 closed

[2019-06-30 21:54] gilbarbara commented on #521
You can set the `spotlightPadding` to 0 in an individual step or as a prop for all steps.

[2019-06-30 21:54] #521 closed

[2019-07-01 00:43] gilbarbara commented on #526
hey,

The previous version used the box-shadow trick but it has its problems too, like creating some artifacts in the overlay and performance. Also, it doesn't work with centered steps for example.

You can already set `styles` for everything and it works globally with the `styles` prop or individually in a step:

[code]

[2019-07-01 06:30] sjgmojica commented on #521
Thanks for the updates :)

On Mon, 1 Jul 2019 at 5:54 AM Gil Barbara <notifications@github.com> wrote:

[2019-07-04 17:48] Vivek-Nehra opened #531 "Joyride with react-select"
When I use joyride on react-select, only the selection part is highlighted and not the dropDown menu .. Can you suggest some way to change the target to dynamically point to dropdown menu as well (as the target is still the same but has expanded further)... Any help is appreciated

[2019-07-05 03:09] Vivek-Nehra opened #532 "Hole resizing with react-select"
The hole does not resize to accomodate the dropdown menu that appears after clicking the main menu (of Select component in react-select). So, there is no way to choose any option from dropdown menu. Please help

[2019-07-10 03:25] gilbarbara commented on #531
Hey,

this library wasn't designed with the ability to update the target dynamically.
I can't think in a way to perform what you want.

[2019-07-10 03:25] #531 closed

[2019-07-10 03:27] gilbarbara commented on #532
Please provide a https://codesandbox.io/ demo or similar.

Issues without a reproduction link are likely to stall and be closed

[2019-07-11 21:24] gilbarbara commented on #516
[Typescript 3.4](https://www.typescriptlang.org/docs/handbook/release-notes/typescript-3-4.html) introduced **const assertions** that can be used in these situations.

[code]

[2019-07-11 21:24] #516 closed

[2019-07-11 21:32] gilbarbara commented on #514
I've updated the custom components props type to be `React.ElementType<T>` where T is their respective props: `BeaconRenderProps` or `TooltipRenderProps`.

People using styled-components should cast `as React.ElementType<XXXRenderProps>`

[2019-07-11 21:32] #514 closed

[2019-07-11 22:14] #526 closed

[2019-07-11 22:18] #452 closed

[2019-07-11 22:19] #524 closed

[2019-07-11 22:19] #511 closed

[2019-07-11 22:19] #529 closed

[2019-07-11 22:28] #494 closed

[2019-07-11 22:40] #508 closed

[2019-07-14 21:03] nodeworks opened #533 ""open" locale missing from types"
## 🐛 Bug Report

The "open" locale is missing from types in index.d.ts

## To Reproduce

Steps to reproduce the behavior:

Using typescript in your project, add a locale prop to the Joyride component:

`locale={{
  open: 'Start the tour'
}}`

This will produce an error:

[code]

## Expected behavior

Expected not to receive this error

## Run `npx envinfo --system --binaries --npmPackages react-fl

[2019-07-15 15:48] gilbarbara commented on #533
Fixed in 2.1.1

[2019-07-15 15:48] #533 closed

[2019-08-01 03:14] nomisrevol opened #535 "Customize transition in tour progress"
## 🚀 Feature Idea
With current react-joyride animation for custom component with tooltip, I see it doesn't friendly with user enough, so I think we need to provide users the way to customize it.

## Motivation

To make the transition more friendly with users and smoother (example: fade in/fade out)

[2019-08-01 13:52] gilbarbara commented on #535
That's not something I'm considering to work on.
Feel free to submit a PR

[2019-08-01 13:53] gilbarbara commented on #519
Since there's no reproduction example, I'm closing this.

[2019-08-01 13:53] #530 closed

[2019-08-01 13:54] #532 closed

[2019-08-04 13:16] nomisrevol commented on #535
I think to customize transition is necessary thing that user should be provided someway to control it. I'm not sure I will make a pull request for it, but I will try.

[2019-08-06 13:39] scott-mcnulty commented on #58
A bit late to the party but I'll share how I got mine working in case anyone is searching for an example still.

Our implementation was to show different steps based on the page the user is on because in our single page app the help icon was always displayed in the header. To get this working my steps were essentially:

1. Make a global joyride file
2. Dispatch an action when clicking on the help

[2019-08-08 06:44] rohitGL commented on #407
I am using react joyride. I am facing an issue. It some times freezes the screen.

[2019-08-08 06:47] rohitGL opened #537 "react joyride - I am using react joyride some times it freeze the whole screen. Getting this waring in console "react-joyride: step has a custom scroll parent and can cause trouble with scrolling.""
## 🐛 Bug Report

A clear and concise description of what the bug is.

## To Reproduce

Steps to reproduce the behavior:

## Expected behavior

A clear and concise description of what you expected to happen.

## Link to repl or repo (highly encouraged)

Please provide a https://codesandbox.io/ demo or similar.

Issues without a reproduction link are likely to stall.

## Run `npx envinfo --system --

[2019-08-08 11:55] gilbarbara commented on #537
It's impossible to know what is going on without seeing your setup running...

The console warning exists to let you know that your CSS is incorrect and the library tried to correct these issues. The first step to debug it is to fix these problems with overflow.
Try to fix that and/or remove this package to make sure the problem is caused by it.

If you confirm this, create a new issue filling all

[2019-08-08 11:55] #537 closed

[2019-08-12 09:14] bertom commented on #407
I had the same issue. Was fixed when I set the `body`, `#react-joyride-portal` and `#react-joyride-step` to `box-sizing: border-box`

[2019-08-12 12:56] gilbarbara commented on #407
@bertom You just need a single statement in you CSS:
[code]

[2019-08-13 10:43] vinikatyal opened #539 "How do i access dynamic css properties with React Joyride"
My Css classes are dynamically generated

[code]

My question is how do i use this in the react joyride?

[2019-08-13 11:20] gilbarbara commented on #539
You can use [custom components](https://docs.react-joyride.com/custom-components).
There is an example in the [demo](https://codesandbox.io/s/github/gilbarbara/react-joyride-demo) source.

[2019-08-13 11:20] #539 closed

[2019-08-13 12:24] vinikatyal commented on #539
@gilbarbara Hi could you point me to the file where you are using it?

[2019-08-15 01:33] gilbarbara commented on #539
@vinikatyal The `Custom Component` directory in the demo uses styled-components. But the idea is the same for dynamic CSS classes, you can use anything you like with this approach.

It's up to you.

[2019-08-16 03:51] jasan-s opened #540 "Updating step content using selector node(question)"
***Scenario:***
step highlighted selector node is a text field with step interaction enabled. Initially the step content states: `hello,` .

***Expected:***
As user types his/her name, `Joe` in the text field the step content updates to `hello, Joe`.

***Question:***
How can I update step content using value from highlighted text field without re-rendering entire helper component at each keystroke

[2019-08-16 04:00] #540 closed

[2019-08-19 04:13] linonetwo commented on #249
How to know joyride has been done? What's the callback?

[2019-08-19 06:27] vinikatyal opened #541 "Can we have two steps targeted at one element - Joyride"
![bar](https://user-images.githubusercontent.com/5568656/63243544-81241380-c278-11e9-8182-b1e8aaf67132.jpg)

Can something like this be implemented in React Joyride with two steps on one target?

[2019-08-19 12:26] gilbarbara commented on #541
Hello,

I didn't understand what you want to do with this image.
But yes, you can have two different steps with the same target

[2019-08-19 14:02] vinikatyal commented on #541
I mean customize such that we can show two steps above and below the target?

[2019-08-19 16:34] gilbarbara commented on #541
You can't do that with this library. Joyride means a tour, sequential steps...
You could display an additional tooltip with [react-floater](https://github.com/gilbarbara/react-floater), the library used to position and render the steps, but that's not good UI.

[2019-08-19 16:34] #541 closed

[2019-08-20 09:47] jesperlandmer commented on #389
I too had this problem and made an ugly fix to wrap multiple elements into a div and highlighted the wrapped-div if anyone else comes across this problem.

`function wrapMultiElements(steps) {
  steps.forEach((step, index) => {
    if (Array.isArray(step.target)) {
      const classes = step.target;
      const d = document.createElement('div');
      d.id = `step-${index + 1}`;
      d.style.disp

[2019-08-22 03:04] linonetwo opened #542 "TypeError: Cannot read property 'removeEventListener' of undefined"
## 🐛 Bug Report

I put joyride on a list item, but when I remove that list item, following error occurs:

[code]

Possible here:

https://github.com/gilbarbara/react-joyride/blob/782fb7340f797d577dac59cac46f818a777808de/src/components/Overlay.js#L98

and

https://github.com/gilbarbara/react-joyride/blob/324ab0d63bce7ba0abc1b68d9ad4de66393b811a/src/modules/dom.js#L120

## To Reproduce

Steps to rep

[2019-08-22 05:58] linonetwo commented on #542
Move it to be inside the component that will be remount, is a working workaround.

[2019-08-22 08:33] linonetwo commented on #249
Use this:

[code]

[2019-08-22 13:38] gilbarbara commented on #542
I need a reproducing example in codesandbox or similar

[2019-08-23 01:18] linonetwo commented on #542
Ouch, I tried, but I can't reproduce it online, too many codes might be related...

As long as it is fixed for my case, closing this.

[2019-08-24 07:34] archana-iron opened #543 "Warning on click of "Next":: Target not mounted"
I am getting a warning on click of next.

**Warning::**

Please provide a solution for this.

[2019-08-25 08:52] gilbarbara commented on #543
Your target isn't rendered, so the library skipped it. You must render it before advancing or implement some sort of delayed render. Check the examples in the codesandbox [demo](https://codesandbox.io/s/github/gilbarbara/react-joyride-demo), or search the issues.

[2019-08-25 08:52] #543 closed

[2019-09-04 19:09] DragonRaider5 opened #544 "Problems with mix-blend-mode"
## 🐛 Bug Report

Using the layover in Chrome over an uneven surface can cause weird looks. This can be a problem for example when you try to display an action button over some cards. The cards need to be visually separated from the background, while the action button needs to be distinct from both.

## To Reproduce

Create some kind of rectangles with a different shade of grey than the background.

[2019-09-05 08:27] borisrorsvort opened #545 "Broader Styling options"
## 🚀 Feature Idea

Allow styles option object to customise every part.

## Motivation

It’s a pity that for now you can only change a few styling options. For instance I’d very much like to change the tooltip text alignment.

## Example

use subways to design the part to be changed then merge the two styles, letting yours overwrite the default.

[2019-09-05 11:51] gilbarbara commented on #545
Hey,
You can render your own custom tooltip, isn't that enough?

[2019-09-05 11:54] gilbarbara commented on #544
Hey,
I need a codesandbox example to make sure isn't a problem with your setup.
Demo images won't cut it

[2019-09-05 11:55] gilbarbara commented on #544
From the images, it appears the problem is with the spotlight positioning and not the mix-blend-mode

[2019-09-05 13:45] borisrorsvort commented on #545
Just to change the text alignement, that would be overkill and less maintainable. It’s just that you already allow some styles to be changed, so why not all? Text alignement seems as valid as text color imho.

Thanks a bunch for the already awesome component btw 👏

[2019-09-05 13:55] gilbarbara commented on #545
You can change the alignment using the `styles` prop.
Since this prop will be merged, it will accept additional keys.

[code]

Check [styles.js](https://github.com/gilbarbara/react-joyride/tree/master/src/styles.js) for more information.

[2019-09-05 13:55] #545 closed

[2019-09-06 13:05] DragonRaider5 commented on #544
Hey,

thanks for your response. In the images you can see it's not about the positioning, as for the first image the rounded corners on the right hand side are missing.

However it is indeed about my setup... I actually just duplicated #411 because I didn't set an explicit color on the background. My bad 😄

[2019-09-06 13:05] #544 closed

[2019-09-11 19:51] flushorg opened #546 "Restart or continue tour after elements was loaded or changed via ajax"
Hi, i try to integrate your nice code into my browser extension.
It nearly works fine, but my browser extension (react js) renders some elements into the page (dom tree change), after the user has started this code via click on a button (this takes some seconds). But in the meanwhile my tour ends.
Is there a possibility to wait for my elements or to restart the tour on another stepIndex or somethi

[2019-09-16 15:01] gabrielsdimeli opened #547 "react-floater overlay problem if container have overflow : auto"
## 🐛 Bug Report

I have my overlay component inside of a table with overflow auto for responsive but if overflow is activated then the overlay lose reference of the position of the target.

## To Reproduce

Just create a div container with overflow : auto, then inside create an overlay component with or without children, specify some target and try.

## Expected behavior

Don't lose reference of t

[2019-09-16 15:14] julia-dizhak opened #548 "Highliting the targeting element is not correct"
## 🐛 Bug Report
attached screenshot https://bit.ly/2kjR8JM
The target element is not correct.
After hovering on the element, highlighting will be set to correct element
version is `"react-joyride": "2.0.0-15"`

## To Reproduce
Probably it's not happening consistently, only if you need to scroll to a target element in DOM.

## Expected behavior
correct highlighting of the element

[2019-09-16 15:37] gilbarbara commented on #548
It's impossible to debug without a live example...
Update to the latest version (2.1.1) and provide a working setup with the bug

[2019-09-16 15:41] gilbarbara commented on #547
This issue should be opened in [react-floater](https://github.com/gilbarbara/react-floater) repo.

[2019-09-16 15:41] #547 closed

[2019-09-16 15:45] gilbarbara commented on #546
Yes, you can start Joyride only when your elements are rendered on the screen.
Set the `run` prop to false and change it when it's ready.

https://docs.react-joyride.com/props

[2019-09-16 15:45] #546 closed

[2019-09-17 11:47] julia-dizhak commented on #548
Hi

To be honest, with version 2.1.1 the behavior even worst.

Yes, it impossible to debug without a live example. But the problem that it's difficult to provide actually playground because of it's highly specific. Like we have kind of chat where messages appear with an infinite scroll.
![Veezoo](https://user-images.githubusercontent.com/1140769/65038375-1e459b00-d950-11e9-85c7-4132cfa03b47.png)

[2019-09-17 11:48] #548 closed

[2019-09-19 16:18] IPWright83 opened #549 "Incorrect location of popup"
## 🐛 Bug Report

The location of one of the messages is incorrect. Strangely this message appeared correctly on a previous step.

## To Reproduce

Using the sample github rep:
`npm install`
`npm start`

1. Click the beacon to open the wizard
2. Notice the location of `Message 3`
3. Continue to `Message 10` - this should have appeared in the same place as `Message 3`.

## Expected behavior

The pop

[2019-09-21 02:48] gilbarbara commented on #549
Hey,

You are updating the component state from step 8 and up and that's probably messing with the positioning.
My suggestion is to use the controlled mode and update the stepIndex after your data has changed the graph.
This library uses `popper.js` for positioning and there's nothing much I can do change its behavior.
Let me know if the stepIndex helps.

[2019-09-26 15:04] IPWright83 commented on #549
Thanks, I'll go have a read and see if I can try that.

[2019-09-27 14:14] IPWright83 commented on #549
@gilbarbara that seems to fix things - though I've found it a little tricky managing the `stepIndex` manually. Do you have some example rules anywhere on how to handle increment this value? I find I get frequent updates to the callback and the steps just run away with themselves!

Thanks :)

[2019-09-29 18:20] NicolasPerl commented on #357
Ran into the same problem. Solved it like this:

`handleGuideCallback = (data: CallBackProps) => {
    const {  action } = data;
    const finishedStatuses: string[] = [STATUS.FINISHED, STATUS.SKIPPED];

    if (finishedStatuses.includes(status) || action == 'close') {
      this.setState({run:false})
    }
  };`

[2019-09-29 19:41] p-himik opened #551 "The primary button is not focused by default"
## 🐛 Bug Report

The primary button is not focused.
I assume that it should be, given [this code](https://github.com/gilbarbara/react-joyride/blob/782fb7340f797d577dac59cac46f818a777808de/src/components/Step.js#L193-L194):
[code]

## To Reproduce

You can easily check it at https://react-joyride.com/
Note that the very first step still has focus at its primary button. It seems to be because the ta

[2019-10-01 14:02] kotofeyweb commented on #520
Can you share your solution with me please?

[2019-10-02 00:13] raykhenberg commented on #487
Not sure if anyone is still interested in this, but I wrote a gist for how I was able to solve this problem for my use case. We had a table and we wanted to highlight one or more columns and there was no good single selector to do it.

https://gist.github.com/raykhenberg/83581ece138c0079ed089b2048c4c14e

This adds a little bit of overhead, so we're only going to use it in cases where we need the m

[2019-10-02 10:41] mayacode opened #552 "in custom tooltip buttons don't work"

[2019-10-02 11:22] #552 closed

[2019-10-02 11:49] gilbarbara commented on #549
Not really. The controlled example in the demo uses `stepIndex` but there's no correct way to do it...
It's a escape hatch for when your app needs to wait for some asynchronous changes.

[s]

[2019-10-02 11:49] #549 closed

[2019-10-03 13:40] LightOri commented on #517
Any updates on that issue?
It still reproduces with official [tour example](https://react-joyride.com/) on IE11.
![image](https://user-images.githubusercontent.com/24460915/66131634-750fcd80-e5fc-11e9-9945-8b2ec3c4db71.png)

[2019-10-03 14:03] gilbarbara commented on #517
PRs welcome

[2019-10-06 15:39] danielimmke commented on #551
@gilbarbara Hello I have a PR in for this if you have a moment to review it

[2019-10-08 11:32] pociej commented on #127
Thats very bad. Real scenario i have tutorial with navigation between steps ( ability to go back). User closed the browser by accident and then relaunched the app. I would like to start the app exactly at point of tutorial that user left and still have ability to navigate back. Above shows that this case is not handleable.

[2019-10-16 10:01] cahilfoley opened #554 "Provide a more useful warning when a target element is not visible"
## 🚀 Feature Idea

Provide a more useful warning when a target element is not visible.

## Motivation

First of all, this is an awesome library, thanks so much for making it! 💯 👍

On to the issue, when an element is currently not mounted or not visible the warning message currently reads "Target not mounted". This led me to spend an hour or so trying to debug why my component wasn't mounted (it wa

[2019-10-23 12:18] arnav13081994 opened #555 "Unable to completely remove the pulsating icon if the user quits the tutorial midway"
Hi,

I am unable to completely remove the pulsating icon that becomes visible once the user quits the tutorial. I understand the icon is maintaining a ref to what the user saw last etc. Is there any way to not affect the functionality and to re-trigger the tutorial without having to click on that icon.

**Note: Even in the demo if you quit the tutorial somewhere in the middle, hitting "Start" will

[2019-10-31 10:15] atishjain29100 opened #556 "Cannot read property 'isSameNode' of undefined"
Hi,

I am using **scrollToFirstStep** property as true. The component was working fine until some time ago but suddenly the following error has started appearing. Looks like there is some dependency on scrollparent.js which is causing this error.

Uncaught TypeError: Cannot read property 'isSameNode' of undefined
    at getScrollParent (index.js?957a:823)
    at hasCustomScrollParent (index.js?957

[2019-10-31 12:44] gilbarbara commented on #556
Hello,
If it was working and stopped, this is probably something in your setup.
Revert your changes to see if it works.

As stated in the bug report instructions:

**Please provide a https://codesandbox.io/ demo or similar.**
*Issues without a reproduction link are likely to stall.*

[2019-10-31 12:47] gilbarbara commented on #555
What do you mean by "quit the tutorial"?
Closing a tooltip doesn't end the tour, only the `skip` button does it.
You can have a controlled tour where you are in charge of the complete flow, check the examples.

[2019-11-14 00:04] kintz09 opened #557 "Is there any way to tell the component where to create the tour elements instead of it automatically being created at the end of the body?"
Hello! I recently discovered this wonderful package and I've just finished implementing a few product tours in my React web application. However, I am now running into an issue with the component when our app is fullscreen and need help finding a solution.

Our React application is designed to be embedded into other webpages. We offer functionality to go into fullscreen mode within our application

[2019-11-21 15:31] crow1796 opened #558 "The spotlight or highlight doesn't resize if the child is resized by typing"
## 🐛 Bug Report

The spotlight or highlight doesn't resize if the child is resized by typing.

## To Reproduce

1. Add a step that targets an element with an attribute of `contenteditable`
2. Run the tour
3. When you get to that element, type anything until the element's size overlaps the size of the spotlight **(WITHOUT MOVING YOUR MOUSE CURSOR)**

## Expected behavior

It would be great if the s

[2019-11-22 06:51] asmyshlyaev177 commented on #556
Just install `react-joyride` same problem.

[2019-11-22 10:29] jucallej commented on #517
Hey! I'll look into this and make the PRs 😀.

I think first some upstream projects need to be updated, as I think `react-floater` is responsible for the arrow, but it's something in either `scrollparent` or  `scroll-doc` the reason why the highlight area is not correct (one returns the whole html element, while the other returns the body and they both should return the same). I'll look into those

[2019-11-22 11:46] gilbarbara commented on #558
Hey @crow1796
This is by design since this library doesn't interact with the host app's elements in any way, so it can't know when an element changed sizes. Adding listeners to these elements could have nasty side-effects...

I think is better for users to stop the tour when the user interacts with an element and restart it afterward if necessary.

[2019-11-22 11:54] gilbarbara commented on #556
@asmyshlyaev177
Please provide a codesandbox.io demo or similar.
Issues without a reproduction link are likely to stall.

[2019-11-22 11:54] #555 closed

[2019-11-22 12:31] asmyshlyaev177 commented on #556
@gilbarbara I think it happen when node from step not present in DOM.

[2019-11-25 16:33] arielcavalcante commented on #526
I still think this is pertinent.

[2019-11-25 20:44] arielcavalcante commented on #555
The pulsating button is referred in the docs as 'beacon', knowing this might help you do what you want.

[2019-12-04 09:48] jucallej commented on #517
Just as a recap:

* In `react-floater` this PR was merged https://github.com/gilbarbara/react-floater/pull/64
* We need to release `react-floater` to npm.
* We need to review https://github.com/gilbarbara/react-joyride/pull/560 and merge it.
* We need to update the dependency of `react-floater` in `react-joyride`.
* We need to release `react-joyride` to npm.

@gilbarbara when you have some time co

[2019-12-09 12:54] #558 closed

[2019-12-10 12:20] Brijeshlakkad opened #561 "Uncaught TypeError: Invalid parameter: element must be an HTMLElement"
[code]
And
part where react-joyride have been imported as Joyride
[code]

I am getting an error when I start tour:

[code]

[2019-12-10 12:22] Brijeshlakkad commented on #561
@gilbarbara  can you please look at this error.
Thanks

[2019-12-12 17:05] jucallej commented on #517
Hey @gilbarbara! Did you have time to check this? Let me know if I can help with something 😀

[2019-12-12 20:07] gilbarbara commented on #517
I'll look into it when have some time...

[2019-12-13 02:53] kfritsch opened #562 "Track Spotlight border-radius"
## Feature Idea
The handleMouseMove listener should respect the spotlight border-radius when deciding whether the mouse hovers the spotlight or not. When doing this it would probably be a good idea to give the spotlight per default the same border-radius as the highlighted container.

## Motivation
If I am not mistaken this would follow the [W3C Recommendation for Border Clipping](https://www.w3.o

[2019-12-13 08:05] leantide opened #563 "Injected overflow: initial remains after tour is finished"
## 🐛 Bug Report

## To Reproduce

Execute a Joyride tour involving targets that are within overflow: scroll containers.
Observe overflow: initial being injected by Joyride
After the tour is finished, my scrolling is broken because the injected 'overflow: initial;' takes precedence.

## Expected behavior
Joyride does not break my scrolling container.

## Environment

[code]

[2019-12-13 08:13] leantide commented on #563
https://github.com/gilbarbara/react-joyride/blob/master/src/modules/dom.js

function getScrollParent() lines 128 to 134

[code]

[2019-12-14 21:39] gilbarbara commented on #563
Hello,

You can use the `disableScrollParentFix` to disable it.

[2019-12-14 21:39] #563 closed

[2019-12-14 21:46] gilbarbara commented on #561
Please provide a https://codesandbox.io/ demo or similar.

Issues without a reproduction link are likely to stall.

[2019-12-14 21:48] #556 closed

[2019-12-14 22:06] #551 closed

[2019-12-14 22:25] #517 closed

[2019-12-15 01:44] leantide commented on #563
Thank you.

So I get the fix by disabling another fix. What is the original fix intended to fix?

Can I get both fixes by not disabling the disableScrollParentFix during the tour and then disabling it at the end of the tour? Can you remove the overflow = 'initial' on skipFix?

[2019-12-15 13:13] gilbarbara commented on #554
Hey

Sorry for not responding earlier. I've updated the message and it will in the next release!

[2019-12-15 13:20] gilbarbara commented on #506
Fixed

[2019-12-15 13:20] #506 closed

[2019-12-15 13:22] gilbarbara commented on #557
Hey,
There's no way to do that right now. I'll need to upgrade `react-floater` package to support it. I'll work on it when I have some spare time

[2019-12-15 22:57] gilbarbara commented on #563
@leantide
The scrollParentFix is intended for apps that have unintended overflow rules, so it resets it to `initial`. There's only one fix.

If your setup needs the custom overflow rule this library can't handle it by itself. I'd need to see the affected app to know what's is going on.

[2019-12-15 22:59] gilbarbara commented on #563
You could change the overflow rule conditionally when the tour is active and revert it back when it's over

[2019-12-15 23:01] #554 closed

[2019-12-19 18:01] darinrogers opened #564 "Steps without targets"
## Modal-like steps that don't point to an element

A pattern that's been popping up in some places is to have steps that look more like a modal. These steps don't highlight a particular element, but normally give a general message.

## Motivation

A product tour might be more helpful if there are slides that give general info, as opposed to highlighting a specific element. This general info can b

[2019-12-19 19:05] darinrogers commented on #564
It's just been brought to my attention that you can achieve this with a `target` of `body` and a `placement` of `center`. It looks like that's how the demo site handles it. If this is a valid way, should there be a note in the docs?

[2019-12-23 14:20] gilbarbara commented on #564
It's already documented [here](https://docs.react-joyride.com/step).

But if you just need centered steps this library would be a huge overhead since it uses popper.js for positioning and it is a huge library...

[2019-12-23 14:20] #564 closed

[2020-01-03 17:59] drj17 commented on #561
Just want to say I'm running into the same issue.  A little too busy to create a reproduction right now, but in my case it's using a mounted modal and an Ant Design button as the target.  I will dig in a bit more and see what I can find.

[2020-01-07 19:36] luisFernandezDevSpark commented on #512
Would still like to see an example of how getHelpers work please!

[2020-01-07 19:37] #561 closed

[2020-01-12 17:26] toddmedema commented on #295
I'm having the same issue - how to start the tour via code. Unfortunately, @robertzimmerman didn't link to the solution he found, and I'm not sure how using tooltips fixes this (I'm already implementing a custom `tooltipComponent`)

I was hoping that setting run = false until it's triggered, and then flipping it to run = true would auto-start the tour, but that doesn't seem to be working.

For ref

[2020-01-17 20:43] toddmedema commented on #295
@gilbarbara am I missing something?

[2020-01-18 06:00] gilbarbara commented on #295
@toddmedema I can't say just by looking at the code. Did you get anything in the console? Did you try to enable debug?
Apparently you are starting the tour on the initial render before the steps are mounted. Try to start the tour after the component is mounted.

[2020-01-20 16:34] toddmedema commented on #295
I've confirmed that the Tooltip function is only getting called when the first target (#tooltip) exists, via `function Tooltip(props: TooltipProps): JSX.Element { console.log(document.getElementById('topbar') !== null); }`

I tried turning on debug mode - not really sure what to look for, but I don't see any errors. This is what it logs when it loads that first page, before I click on the beacon (

[2020-01-21 12:23] gilbarbara commented on #295
@toddmedema No. It's impossible to debug without seeing the code running.

[2020-01-24 14:18] toddmedema commented on #295
For future people who find this issue: gil helped me through it via email, I ended up just having to set `disableBeacon: true` on my first step - https://docs.react-joyride.com/step

[2020-02-06 20:56] darthzeran opened #565 "Joyride props callback lacking differentiation"
My code in my Joyride callback says
[code]
But when I run it (with debugging mode on or off it doesnt matter)
I notice that the react-floater initializes, and then the react-joyride step initializes.
But my console log is logging 2 times per step update.
And all my step update consists of is incrementing the step by 1.

Is there a way to differentiate between floater and joyride props?

[2020-02-07 00:15] gilbarbara commented on #565
Hey,

The callback in the Joyride component is only triggered by its state changes.
Can you provide a working example at codesandbox or similar?

[2020-02-18 09:26] g-akshay commented on #353
Any update?

[2020-02-18 10:53] Smaug333 commented on #199
It is possible to hide the arrow by setting
`<Joyride floaterProps={{hideArrow: true}} ... /> `
if using typescript
`<Joyride floaterProps={({hideArrow: true} as unknown) as FloaterProps} ... /> `

[2020-02-19 22:35] groundswel opened #566 "Using react-joyride in a functional component"
Hello,

I am trying to use joyride in a functional component . Here is a snippet from the component. However when I run it nothing happens and I dont see any error either

[code]

[2020-03-02 13:17] aqeeljaved88 opened #567 "Issue related to input focus in react joy ride"
I have been facing issue using react joyRide. Explaining the problem in points below if some one can help please.

- I have an input in a dialog where user enter task name and create a task.
- When i run joyRide reach the point where spotlight is on the input field in dialog.
- All click events work on any thing which comes under the spotlight e.g. input label, input tooltip etc...
- But clicking

[2020-03-05 02:55] gilbarbara commented on #567
Hey,

Please provide a https://codesandbox.io/ demo or similar.
Issues without a reproduction link are likely to stall.

[2020-03-05 02:57] gilbarbara commented on #566
hey,

Set the `debug` prop to `true`. It might show something.
The targets are rendered?

Please provide a https://codesandbox.io/ demo or similar.

[2020-03-05 02:58] #565 closed

[2020-03-06 11:20] harunurhan commented on #376
This still happens to me with the very basic use case, when step target out of viewport (down), so it scrolls down, tooltip is correctly placed, but the spotlight is somewhere up in the page.

@gilbarbara

[2020-03-06 11:28] gilbarbara commented on #376
Hey @harunurhan

Please provide a https://codesandbox.io/ demo or similar.

[2020-03-06 12:59] harunurhan commented on #376
@gilbarbara I think my issue is similar to https://github.com/gilbarbara/react-joyride/issues/548, and as it was said in that issue, it is tricky to provide a sandbox reproduction.

[2020-03-07 13:26] gilbarbara commented on #376
@harunurhan Ok, but that's impossible for me to help without seeing what's going on with the code...

[2020-03-08 13:24] ngmgit opened #568 "Wrong cursor css property set for overlay element when disableOverlayClose is set to true."
## 🐛 Bug Report

When `disableOverlayClose` prop is enabled the clicks on overlay wont work as a result the cursor should also reflect the same. The correct overlay css for cursor in that case should be 'default' instead of 'pointer'.

TLDR: Overylay css option for cursor attribute should be set depending on disableOverlayClose prop.
Ex: `cursor: disableOverlayClose ? 'default': 'pointer'`

## To

[2020-03-08 16:49] ngmgit opened #570 "Steps with isFixed are not scrolled into view if they went out of view due to steps next to it."
## 🐛 Bug Report

When setting `isFixed` option to true for a step and if the target element for that step gets out of the view when progressing in tour to the steps next to it, scrolling the target element of fixed step into view doesnt work when getting back by pressing the back button.

## To Reproduce

Steps to reproduce the behavior:
* Add steps and set one of the step with `isFixed` set as tr

[2020-03-10 08:21] kfritsch commented on #562
@gilbarbara ?

[2020-03-10 13:21] gilbarbara commented on #570
Hey

That's not how it works.
Your step needs to be fixed (using CSS) and the flag `isFixed` on the step configuration is only used to tell the Joyride that your step should be treated as fixed. This library won't change the positioning for you.

[2020-03-10 13:21] #570 closed

[2020-03-13 00:08] #535 closed

[2020-03-25 21:33] Maxim1905 opened #571 "Next page"
How to use joyride when switching to another page? I want the tour to continue after the transition

[2020-03-27 12:01] gilbarbara commented on #571
Hey,

You'll need a controlled tour. Check the Controlled example in the demo [source code](https://codesandbox.io/s/github/gilbarbara/react-joyride-demo)

[2020-03-27 12:01] #571 closed

[2020-03-27 12:02] gilbarbara commented on #562
hey @kfritsch
Sorry about the late reply!

I'll upgrade some dependencies in the next week and take a look at this.

[2020-03-27 13:38] #568 closed

[2020-03-27 18:19] Maxim1905 commented on #571
Will the program wait for the transition to another page and continue execution, or do you need to write an address check to continue the tour?

[2020-03-27 18:21] gilbarbara commented on #571
Nope, you control the flow of the tour.

You can use a MutationObserver or some state/location change you have in your app to tell the tour to continue when the transition is complete.

[2020-04-06 09:34] SibrenTalens opened #573 "Parent with visibility: hidden causes all children to be unusable for guided tours"
## 🐛 Bug Report
Elements of which one of the parents has the visibility: hidden style set, will be excluded from the guided tour, even if a more direct parent has visibility: visible set.

## To Reproduce
Add a step in a guided tour with the target being an element whose parent has visibility: hidden, but the element itself has visibility: visible.

## Expected behavior
Since the element is visibl

[2020-04-07 16:39] lukas1994 commented on #542
Having the same issue. Did anyone figure out why this is happening? Tried wrapping the component in an error boundary but that also didn't help.

[2020-04-07 16:56] linonetwo commented on #542
@lukas1994 can you reproduce it using stackblitz?

[2020-04-07 17:02] lukas1994 commented on #542
I can try that later this week. This is a stack trace if that helps.
![image](https://user-images.githubusercontent.com/6901762/78698199-df7e2f00-78f9-11ea-90d2-2e1bb64e1491.png)

[2020-04-09 18:41] gndelia commented on #542
Hi, I'm having the same issue here. In my particular case, it only seems to be happening when running in production (minified code) as I cannot reproduce it in my local environment

[2020-04-09 22:06] lukas1994 commented on #542
same here, couldn't repro locally

[2020-04-13 18:36] a-pachkov commented on #557
Hello! Great library, thank you!
I also running into an issue when red marker try to follow clipped element:
![Screen Recording 2020-04-10 at 12 59 PM](https://user-images.githubusercontent.com/55181172/79148423-1bb80080-7dce-11ea-8021-5fe1d8dc20e3.gif)

And this feature may solve my issue too
Or maybe there exists another way to clip that marker

[2020-04-15 17:25] Patrick-Ullrich opened #574 "Custom Component, no Button Text"
## 🐛 Bug Report

When copying the code from https://docs.react-joyride.com/custom-components, my Buttons (back, next, close etc.) have no text.

## To Reproduce

[code]

## Expected behavior

Would expect the buttons to have the correspondent locale text

## Link to repl or repo (highly encouraged)

## Run `npx envinfo --system --binaries --npmPackages react-floater`

I am able to work around it b

[2020-04-16 22:09] gilbarbara commented on #574
Hey,

Are you using `react-intl`?
Its `FormattedMessage` component needs a valid id and this library doesn't handle that.

[2020-04-16 22:10] gilbarbara commented on #557
@a-pachkov You can change the `z-index` to prevent that behavior

[2020-04-16 22:13] Patrick-Ullrich commented on #574
Nope, just named the `styled` component FormattedMessage (to follow the guide). Is the example expecting us to be using `react-intl`?

[code]

[2020-04-17 03:59] gilbarbara commented on #574
There's no need to use react-intl.
I'll update the docs with a better example.

You can use the step's `locale` object.

[code]

[2020-04-17 08:08] a-pachkov commented on #557
@gilbarbara Thank you for the replay!
Sure I can manage this issue with right `z-index` on header and horizontal menus
But in this case I'll need to set different `z-index` for each marker depending on place and clip elements around this place
For example I'll need this marker in header or in pop-up window
So it can add a lot of mess in the code and the pain of maintaining it
But anyway thank you!

[2020-04-20 11:50] paulbutcher commented on #566
I'm experiencing the same problem. Sandbox: https://codesandbox.io/s/fragrant-star-b5tcc

[2020-04-20 13:25] gilbarbara commented on #566
@paulbutcher

You are rendering a Paragraph with ID but setting the target to a className.
Change the target to `#target1` instead and it will work.

PS: to get the spotlight to work you'll need to set the parent component to a color, preferably the body. That's how the mix-blend-mode works.

[2020-04-20 13:25] #566 closed

[2020-04-20 13:26] #574 closed

[2020-04-20 13:29] gilbarbara commented on #542
I definitely need an example here.

[2020-04-20 13:30] paulbutcher commented on #566
D'oh! Thanks @gilbarbara (and blush).

[2020-04-20 13:31] gilbarbara commented on #566
@paulbutcher It happens! 😀

[2020-04-20 13:35] gilbarbara commented on #573
Hey @SibrenTalens

Isn't that an anti-pattern?

I feel like this shouldn't be handled by this library.
And the fix you've mentioned is a breaking change.

[2020-04-20 13:35] #573 closed

[2020-04-20 13:46] gndelia commented on #542
in my case, I was able to fix it in our code. Though the example seems complex, because we use plenty of libraries (such as CRA, typescript, react-router, etc),  I will try to explain the scenario to see if it gives an idea. The repo is private, unfortunately, otherwise, I would have shared the code

I was only able to reproduce it in production env. Locally, it worked fine

### The scenario

Ther

[2020-04-20 14:33] gilbarbara commented on #557
@a-pachkov

Now imagine that in a library used by thousands! :P

[2020-04-20 14:50] gilbarbara commented on #542
As @gndelia pointed out, the problem seems to be that unmounting a target while this library is working with it, will trigger this error.

The correct approach would be:

- advance to the next step BEFORE unmounting the target
- lift the target up in the tree to avoid unmounting

[2020-04-20 14:50] #542 closed

[2020-04-21 12:45] kAleksei opened #575 "TypeError: Cannot read property 'isSameNode' of undefined"
## 🐛 Bug Report

When joyride initializes the error appears "TypeError: Cannot read property 'isSameNode' of undefined" The joyride tour with steps from global redux store where all the steps has targets as HTMLElements.
Stack Trace:

[code]

## To Reproduce
Just start the joyride tour

## Expected behavior

It just might works without exceptions.

## Link to repl or repo (highly encouraged)

http

[2020-04-21 14:28] gilbarbara commented on #575
Hey,

Always use the template to create new issues, it was designed to get all the required information about your setup and states that we need a demo to be able to debug your implementation.

So, we need a demo.

[2020-04-21 15:14] kAleksei commented on #575
Okay, please wait, I'll form it like bug report and send demo.

[2020-04-22 10:41] kAleksei commented on #575
I reproduce demo in [codesandbox.io](https://codesandbox.io/s/busy-cartwright-pmclf). But this code works except my one.
Also I have noticed that refs to DOM have another
implementation in codesandbox site.

[2020-04-22 12:32] gilbarbara commented on #575
So, you have your answer!
The problem is the `@material-ui/core` that apparently doesn't support `refs`.

The step's target must be a CSS selector string or an HTMLElement, but it is a React Element instead.

[2020-04-22 12:32] #575 closed

[2020-05-01 18:19] jephjohnson opened #576 "Custom style for spotlight, width or height not accepted."
Various styles are not accepted for spotlight when integrating into a step.

When implementing the following below. A style like 'width' or 'height' is not accepted, but margin is?

The only work around I found was to manipulate through JS depending on the indexed step.

[code]

Workaround:
[code]

[2020-05-02 02:55] gilbarbara commented on #576
Hey

Yes, these attributes are calculated dynamically.

[2020-05-02 02:55] #576 closed

[2020-05-02 18:36] jephjohnson commented on #576
Having the option to to pass in a value to a prop would be be useful...

[2020-05-02 20:27] gilbarbara commented on #576
@jephjohnson Feel free to submit a PR!

[2020-05-07 04:51] unnatikala05 commented on #526
Hello,
I wanted to ask that  i wanted to change the height and width of the spotlight but it is not changing. Please tell how to proceed.

[2020-05-08 07:54] unnatikala05 commented on #487
How to make react joyride come on multiple screens?

[2020-05-08 12:21] R-D-P opened #577 "Target not mounted"
I am using react.Lazy to dynamically import components.
Due to this react joyride skips the step since the target has not been mounted yet.

When I import the components the usual way, it works fine.

Is there any timeout I could add so that react joyride waits for the component to render instead of just skipping it.

[2020-05-08 15:52] Nicola-Rizzi opened #578 "invert skip and next button"
hi, is it possible to move the skip button on the right and the next button on the left avoiding to create a custom component? thanks

[2020-05-08 16:04] Nicola-Rizzi opened #579 "change x button svg"
is it possible to change the svg for the x button without creating a custom component? I would like to insert a logo.
thanks

[2020-05-13 13:51] #579 closed

[2020-05-13 13:51] Nicola-Rizzi commented on #579
done

[2020-05-13 13:51] #578 closed

[2020-05-13 13:51] Nicola-Rizzi commented on #578
done

[2020-05-14 10:48] ruthchemla commented on #576
https://github.com/gilbarbara/react-joyride/blob/0f0dfe0e57c1a5211a8f077603071181782f3fe9/src/components/Overlay.js#L117

could this consider a solution?
adding this line at the end will override the dynamic calc attributes

[code]

[2020-05-14 15:35] sueyee opened #580 "Warnings to upgrade. Seeing Warning: componentWillMount has been renamed"
## 🐛 Bug Report
We are using react version 16.10.2.

We are seeing warnings:
Warning: componentWillMount has been renamed, , and is not recommended for use. See https://fb.me/react-unsafe-component-lifecycles for details. Move code with side effects to componentDidMount, and set initial state in the constructor.
* Rename componentWillMount to UNSAFE_componentWillMount to suppress this warning in n

[2020-05-15 17:25] Maxim1905 opened #581 "Tooltip surfacing"
I have the appearance of a tooltip accompanied by a jitter and every time it appears from the upper left corner. Now I turned it off floaterProps = {{
         disableAnimation: true
       }} How can I change the appearance animation?

[2020-05-17 03:31] gilbarbara commented on #581
hey,

There's no way to customize the animation.
Feel free to submit a PR to [react-floater](https://github.com/gilbarbara/react-floater) repo to add this customization

[s]

[2020-05-17 03:31] #581 closed

[2020-05-17 03:36] gilbarbara commented on #580
hey,

Which version of this library are you using?
2.0 and up do not use `componentWillMount`.
Please upgrade!

[2020-05-17 03:36] #580 closed

[2020-05-17 03:43] gilbarbara commented on #577
hey,

You can use the controlled mode and change steps manually when you are ready.
Check the [demo](https://codesandbox.io/s/github/gilbarbara/react-joyride-demo) and read about `stepIndex` in the [docs](https://docs.react-joyride.com/props)

You can use a mutation observer to handle that or do it manually.

[s]

[2020-05-17 03:43] #577 closed

[2020-05-19 16:23] jephjohnson opened #582 "Tooltip component only excepts string"
## 🐛 Bug Report

When passing in an external component for a custom tooltipComponent it throws the error below.

`Warning: React.createElement: type is invalid -- expected a string (for built-in components) or a class/function (for composite components) but got: <Tooltip />. Did you accidentally export a JSX literal instead of a component?`

I am aware I can import my custom tooltip and pass it in

[2020-05-24 04:21] gilbarbara commented on #582
Hey,

Yeah, this is expected.

Both `beaconComponent` and `tooltipComponent` expect a React component (class or forwardRef) that will be called with the tooltip props and ref.

What are you trying to achieve with the `endTour` prop? You can use the skipProps to end a tour...

[2020-05-24 21:42] jephjohnson commented on #582
'endTour' is a function that lives on my root.

[code]

[2020-05-25 02:49] gilbarbara commented on #582
You can use the skip props and listen for the skip action in the callback and dispatch your actions there.

[2020-05-25 02:51] gilbarbara commented on #582
Anyway, feel free to submit a PR

[2020-05-25 02:51] #582 closed

[2020-05-25 16:13] jephjohnson commented on #582
Haven't tested but say
`<BootstrapButton {...skipProps} >End</BootstrapButton>`

and in my root
[code]
Should do it?

[2020-05-26 19:07] gilbarbara commented on #582
@jephjohnson Yeah, I think so.

Check the Controlled [demo](https://codesandbox.io/s/github/gilbarbara/react-joyride-demo?file=/src/Controlled/index.tsx) if you need a detailed example.

[2020-05-28 03:23] kheker opened #583 "problem when tour starts and changes component path"
I have the joyride as provider to the entire app and when I use it in one component and when I start the tour and close after going through the first step, close it and move to another component, the joy does not work again.
this is my code
`import React, { createContext, useCallback, useMemo, useState, useEffect } from 'react';
import PropTypes from 'prop-types';
import Joyride, { EVENTS } from '

[2020-05-28 12:54] gilbarbara commented on #583
Hey,

Please use the templates to create issues, there is some information that's needed. Library and node version, OS, etc.

Also, issues without reproducible code (codesandbox) are likely to stall.

[2020-05-28 12:59] gilbarbara commented on #583
But this doesn't seem to be a bug with the library itself but instead a problem with your implementation.

You can try the Spectrum [chat](https://spectrum.chat/react-joyride) to get help from other users.
Anyway, without a codesandbox it's a impossible to know what's happening.

[s]

[2020-05-28 12:59] #583 closed

[2020-06-04 12:06] kfritsch opened #584 "Docs seem to be down"
## 🐛 Bug Report

I can not access the docs at https://docs.react-joyride.com/

[2020-06-04 22:54] gilbarbara commented on #584
It's up, try again or check your connection

[2020-06-04 22:54] #584 closed

[2020-06-09 20:22] ps1223 opened #585 "Tour hangs if the first step's target doesn't exist"
## 🚀 Feature Idea

Currently, the steps whose target could not be found in the DOM gets skipped. But if the target of the first step is not found, then the whole tour gets skipped.

## Motivation

Instead of manually playing with steps every time, I hope it is better to list all the steps and render whose target is available and skip others.

## Example

If the target of Step A is not found skip d

[2020-06-17 15:07] hugobarragon commented on #510
i am having the same problem, i will create a codesandbox link

[2020-06-17 18:35] gilbarbara commented on #585
Hey,

But why are you adding invalid steps?
Just filter the ones you don't need.

[2020-06-18 04:45] ps1223 commented on #585
Yes, I've handled it by filtering the valid steps alone.

Let me explain the scenario I have. My application has multiple screens and I've around 5 to 6 steps on each page, but the target elements will not be available all the time. Let's say some options will be available based on the configurations sent from the backend. So, I have to filter each step based on the config and feed it to the joy r

[2020-06-18 17:38] gilbarbara commented on #585
Hey,

I understand the desire to have this package to handle all these problems, however it will add complexity and more surface for bugs to emerge.

Some users might not like that so I'll have to add a flag to conditionally filter the steps but other users might want to have yet another option to set the filter function and so on.

However, I'll check the logic that skips the tour if the first st

[2020-06-23 12:13] hugobarragon commented on #510
@torchsmith  @gilbarbara
here is the code box example, tooltip stays to left.
the modal has an opening animation, so i do a timout before setting joyride run
only importing the orignal css
any idea?

[![Edit react-joyrideWithAntdDesign](https://codesandbox.io/static/img/play-codesandbox.svg)](https://codesandbox.io/s/react-joyridewithantddesign-vhx0o?fontsize=14&hidenavigation=1&theme=dark)

[2020-06-23 12:15] torchsmith commented on #510
@hugobarragon that is exactly what was happening to me!

[2020-06-23 12:19] hugobarragon commented on #510
I find out that on window resize it fix's, temporary i am doing a setInterval each 250ms to trigger a fake window resize
https://www.loom.com/share/1b01a825d11d4a6aa5a30a31559a94c2

[2020-06-23 12:31] gilbarbara commented on #510
@hugobarragon Removing the floaterProps make it work as expected. Is that it?

[2020-06-23 14:17] hugobarragon commented on #510
@gilbarbara i dont know, if i resize it fix's, if i remove the disableBeacon it solves to...

[2020-06-24 10:57] hugobarragon commented on #171
@gilbarbara any option to disable on the main component props?
This would be great, because we only use one joyride component on our big platform, and uses redux to only pass the steps and run... on the previous version with autoStart this was possible, for now we had to place a disableBeacon prop on every step we have 😢

[2020-06-24 13:11] gilbarbara commented on #171
Hey @hugobarragon

The autoStart in V1 was responsible for: `Open the tooltip automatically for the first step, without showing a beacon.`

So, for this behavior, you don't need to set `disableBeacon` for all steps, just the first one.
It doesn't matter where the steps came from and you can easily map the steps and change the props on the first one.

[2020-06-24 13:59] hugobarragon commented on #171
Hello @gilbarbara

Thanks maybe I explained my self on a wrong way,
I know I can do that, for starting the joyride automatically, but I need to set the disable beacon on all steps to completely remove. If the user closes or clicks outside the next step will show the beacon for the user to click.Probably I will have to map all steps on this generic component on render time to add the disableBeacon

[2020-06-26 11:11] deduskaa opened #586 "FloaterProps missing disableFlip prop in type definition"
I'm getting this error while trying to use disableFlip in step configs floaterProps. Would it be possible to add disableFlip prop to the type definitions ?

[code]

[2020-07-01 10:19] Shooshte opened #587 "Warning: Failed prop type: Invalid prop `step.content` supplied to `JoyrideStep`, expected a ReactNode. When passing a functional Component."
## 🐛 Bug Report

A console error is logged when a valid React Functional component is passed as step.content:

## To Reproduce

[code]

Check the console for the error.

## Expected behavior

Content should be accepted as a valid React.Node

## Link to repl or repo (highly encouraged)

https://codesandbox.io/s/serene-chebyshev-ojt92?file=/src/App.js

## Run `npx envinfo --system --binaries --npmPa

[2020-07-03 10:14] hugobarragon opened #588 "Tooltip wrong postion on antd column header"
## 💬 Questions/Help

Hello, I am having an issue and I can't seem to find the solution.
The problem, even with all stock from antd design, when I apply joyride step to column header, the tooltip always gets its position wrong, even without any styles.
I created a reproduction link on codesandbox.

[![Edit react-joyrideWithAntdDesignTable](https://codesandbox.io/static/img/play-codesandbox.svg)](ht

[2020-07-06 15:20] gilbarbara commented on #588
Hey,

The `.ant-table-body` changes the overflow and this breaks the positioning.
There's nothing this library can't do to override that...

[2020-07-06 15:20] #588 closed

[2020-07-06 15:23] gilbarbara commented on #587
hey,

A function isn't a ReactNode.
Just remove the `() =>` in the `content` prop.

[2020-07-06 15:23] #587 closed

[2020-07-10 14:20] max-carroll opened #589 "useJoyride() Hook as an alternative to using the <Joyride /> component"
## 🚀 Feature Idea

Really awesome package, however doesn't seem to be any support for those who are using hooks as part of their frontend architecture.

Would be really cool if we could have a useJoyride hook that we could then call from another hook rather than being forced to add a component to the render part of the JSX.

## Motivation

Many others and I use hooks for extracting logic away from

[2020-07-13 03:44] gilbarbara commented on #589
hey @max-carroll

How would you render the component?

[2020-07-13 08:32] max-carroll commented on #589
I haven't looked too much into how joyride works so I'll take a look and comeback with a better answer, But other npm components work using hooks, sometimes they are using a Context Consumer and Provider for these type of scenarios, so that the provider may have some state and methods and that these can be consumed from,

So I'm assuming that when you define your steps with a target, under the hoo

[2020-07-13 23:44] gilbarbara commented on #589
Hey @max-carroll

I've been using hooks since the beginning and I love some of them but I don't expect that UI components should be hooks just for the sake of being cool.
If you are not using the reconciliation and virtual DOM capabilities of React, what's the point?

Anyway, I'm not willing to embrace an imperative way to render this component.

[2020-07-13 23:47] gilbarbara commented on #589
Thanks for your time but in the current form this isn't something I'll consider right now.

[2020-07-13 23:47] #589 closed

[2020-07-15 10:35] afrancht commented on #387
I'm still having this issue and I'm on `2.2.1`

[2020-07-15 10:47] afrancht commented on #361
I'm still having this issue and I'm on `2.2.1`

![image](https://user-images.githubusercontent.com/19917183/87536341-40579900-c699-11ea-9d65-3964a2a78a4c.png)

![image](https://user-images.githubusercontent.com/19917183/87536407-5402ff80-c699-11ea-8df8-33486cdc5cb8.png)

[2020-07-16 13:17] gilbarbara commented on #387
hey @afrancht

Why do you have two instances of joyride mounted?
Anyway, it's impossible to debug without seeing the code running. Probably something with z-index? Check your code and tweak the z-index.

[2020-07-16 13:45] afrancht commented on #387
Excuse my terrible post. I should've attached a code snippet. I have figured it out:

1. As you said I should play with the z-index
2. I had to make sure that everything was rendered before using the selector, thus I had to add joyride to the "highest" order component.

I think it would be worthy including this in the quick setup guide so that people can get it running. It is intuitive to get it t

[2020-07-17 10:06] erkanonal commented on #387
Hey there!,
I am having the same issue on 2.2.1. Although I use the disableBeacon: true, beacon is not visible but still in the dom. Is this intentional? If it is disable, it should not be in the dom in the first place right? I am able to solve my problem via changing the css of beacon but I am just asking.

[2020-07-17 12:25] erkanonal commented on #575
Uncaught TypeError: Cannot read property 'isSameNode' of undefined
    at getScrollParent (index.js:855)
    at getElementPosition (index.js:969)
    at JoyrideOverlay.get (index.js:1818)
    at index.js:1624

Same thing happens to me when my current target is not in the dom just for a second but step number is same. At my case, as I control the steps, sometimes at a step, my target needs to disap

[2020-07-20 07:10] rahulpsd18 commented on #589
What about an HOC instead?

I too didn't want to add the `<JoyRide/>` Component in all the pages so created an HOC and wrapped my components instead.

Been using it since and absolutely love it. I could submit an initial PR so we could have a discussion if it would be useful to others.

[2020-07-20 17:29] gilbarbara commented on #589
Hey @rahulpsd18
I think this approach works for your case but I really don't see the need to complicate the setup for most users.
HOCs are messy.

[2020-07-20 17:36] max-carroll commented on #589
@rahulpsd18  I may end up creating a Wrapper around react-joyride so that I can use it from a hook, perhaps when I do it, I can do it mindfully so that it may also be exposed via either a HOC or Hook. I'll let you know when I start working on it

[2020-07-22 19:20] Alpa84 opened #590 "Scrolling to the top of the page when target is inside an element with relative position"
## 🐛 Bug Report
react-joyride scrolls to the top of the page when the target is inside an element with relative position

## To Reproduce

Steps to reproduce the behavior:

1. Open the CodeSandox link below
https://codesandbox.io/s/react-joyridescrollissue-2v5uv
2. Scroll to the bottom of the page
3. Click the beacon

## Expected behavior

It should scroll to the bottom of the page, where the targ

[2020-07-24 11:21] b-zurg commented on #575
I'm experiencing this error for elements that I can see in the DOM that have a valid CSS selector.  It's very strange.

[2020-07-24 13:09] b-zurg opened #591 "RTL Language Localization + Next button + Progress = Parentheses Display Issue"
## 🐛 Bug Report

For RTL languages, the localization + step # in the "next" button does not display correctly.

## To Reproduce

Create a page whose direction  is RTL and who has a joyride with ` showProgress={true}` and a locale object e.g. `{next: "بعد"}`

Start the tutorial, and observe the first  pop up.

## Expected behavior

Expected the next button to render as it would in an LTR language b

[2020-07-27 14:39] polarstoat commented on #512
If using the callback is always preferred, perhaps `getHelpers` should be deprecated?

Otherwise it seems useful to add further documentation on the usage of `getHelpers`.

[2020-07-28 00:55] MovingGifts commented on #586
Same issue... any solution to this? When I set the offset to a certain negative number, it flips the placement from bottom to top, but it should remain as bottom. Any idea how to get `disableFlip` or the intended behavior with the library as is?

[2020-07-29 02:59] gilbarbara commented on #586
@MovingGifts Are you having trouble with Typescript or the negative number?
If it is the latter, please check popper.js docs for v1

[2020-07-29 03:05] gilbarbara commented on #591
Hey @b-zurg

I can't see the difference between your two examples. For me, it looks the same, sorry.

Anyway, You can use a custom tooltip component with the `tooltipComponent` prop if the default behavior doesn't suit your needs.

[s]

[2020-07-29 03:05] #591 closed

[2020-07-29 03:13] gilbarbara commented on #590
Hey @Alpa84

I've encountered this problem over and over again and most of the time is a weird css setup.
In your sandbox example, it can be fixed by removing the unused position and top attributes...

[s]

[2020-07-29 03:22] gilbarbara commented on #512
@polarstoat Feel free to submit a PR

[2020-07-29 16:08] Alpa84 commented on #590
@gilbarbara  thanks for checking out the sandbox example.
This issue seems to appear when the target is inside an element with a position:relative attribute.
For example if you are using bootstrap and your target is inside a bootstrap card.

https://codesandbox.io/s/react-joyride-scroll-issue-bootstrap-vd8q7?file=/src/index.js

That example reproduces the issue just using bootstrap with no additio

[2020-07-29 16:09] Alpa84 commented on #590
Here is my proposed fix:
https://github.com/gilbarbara/react-joyride/compare/master...Alpa84:scroll_to_fix

[2020-07-29 23:35] MovingGifts commented on #586
@gilbarbara The issue is with the negative number `offset: -20`. When I use:

[code]

When offset is `-10` placement bottom, the tooltip is still too far from the target. When offset is `-20` placement bottom, to make it closer up to the target, the tooltip is rendered as if the placement was set to top, not sure why or how to prevent that as it should always respect the placement: 'bottom' for th

[2020-07-30 03:13] gilbarbara commented on #586
Hey @MovingGifts

So, it's not the same issue at all, @deduskaa is talking about Typescript declaration, not behavior.

Did you check the [docs](https://docs.react-joyride.com/)?
You probably need to set the `floaterProps` prop.
[code]

[2020-07-30 22:07] MovingGifts commented on #586
@gilbarbara Thank you so much, that did the trick!

[2020-07-31 00:40] MovingGifts opened #592 "Can't position floater container in joyride step json"
Thank you for this amazing library!

We've spent all day on this, not sure why we can't get the entire tooltip (not just the arrow part or just the tooltip content container, but the entire floater container that contains them both) to take a position `left: 13`

Here is the default behavior (it's pointing to 2):

![_b4_ui](https://user-images.githubusercontent.com/1202909/88986911-4ad17f80-d2a2-1

[2020-08-02 13:42] gilbarbara commented on #592
hey @MovingGifts

As stated in the New Issue screen, "If you have questions, please check the Spectrum channel or StackOverflow". The issues are for bugs in the library.

Anyway, there no way to change the arrow positioning since it is automatically calculated to match the center on the target.

[2020-08-02 13:42] #592 closed

[2020-08-04 16:50] MovingGifts commented on #592
@gilbarbara Thank you for your feedback, I noticed that the Spectrum channel had a lot of unanswered questions or answers after months of being posted, and I didn't find the Stack Overflow tag for react-joyride to show any results, so I didn't know where else to go to get an answer.

So just to wrap this up, I noticed I can move the the body of the tooltip (the rectangle with the content using):

[2020-08-05 09:20] nilsDE commented on #590
Thanks @Alpa84 , I just encountered the same issue and as you stated above it was due to bootstraps use of position:relative. I didn't find a solution so I hope your PR will be approved.

[2020-08-07 11:48] AviRoy1988 commented on #119
Where to put this block of code (joyride.start()) to start the tour automatically

[2020-08-07 12:49] gilbarbara commented on #119
Hey @AviRoy1988
this issue is 4 years old...
Check the [docs](https://docs.react-joyride.com/) for the current version

[2020-08-10 22:25] Alpa84 opened #594 "Misplaced spotlight position with custom scroll elements"
## 🐛 Bug Report

The overlay position is misplaced when showing the second step of the scroll demo

## To Reproduce

visit https://codesandbox.io/s/github/gilbarbara/react-joyride-demo
go to 'scroll' tab
click the beacon
click Next
![Captura de Pantalla 2020-08-10 a la(s) 19 21 53](https://user-images.githubusercontent.com/4325762/89837313-16ca4a00-db3f-11ea-8c1b-12a806209418.png)

## Expected beh

[2020-08-10 22:40] Alpa84 commented on #594
This does not happen when going from step 3 to step 2.
The problem seems to be related to using the html `scrollHeight` prop when getting the height of the `stylesOverlay`.
Only on step 2 (and coming from step 1)  `document.documentElement.scrollHeight` is greater than the `clientHeight` and `offsetHeight`.
Not including `document.documentElement.scrollHeight` to calculate the height of the overla

[2020-08-12 12:39] FlorianRuen opened #595 "Placement can't be a string"
## 🐛 Bug Report

I want to use the react-joyride, so I use the npm install to get it, and I follow all the steps inside the readme.
For the steps, I import them from another file (located in /app/shared/onboarding/steps.ts)

For every steps where I add a placement: "center", I got the following error in my terminal:

[code]

## To Reproduce

Just import the library, initialize the tour with at lea

[2020-08-16 11:26] FlorianRuen commented on #595
Up, someone have a solution on this issue ?
I've done all my Onboarding process, and I need to deploy this, but this error cause my a Pipeline failed.

[2020-08-18 10:03] xiajinchun commented on #519
@ryanewtaylor
Hi, I have some problem, did you have solved this problem?
I am using React-Joyride Version: 2.2.1

[2020-08-18 10:04] xiajinchun commented on #519
![image](https://user-images.githubusercontent.com/4453349/90500270-400d5a80-e17d-11ea-940d-a9ff1afb7b8a.png)

[2020-08-18 18:28] gilbarbara commented on #595
Hey

This is a typescript error not this library...

[2020-08-18 18:28] #595 closed

[2020-08-18 18:35] FlorianRuen commented on #595
To answer this, I found a way to solve this:

`placement: 'center' as placement`

just import the {placement} from react-joyride

[2020-08-18 20:51] aelfric commented on #590
We were running into this same problem.  Unfortunately, even switching to the PR didn't fix it. In our case, I inherited a page with several levels of nested elements with `position: fixed` and `position: relative`.  Here is our workaround for now with the existing library release.  There's probably a better way to do it.

We are using the controlled version of the Joyride component, but I suspect

[2020-08-18 21:52] Alpa84 commented on #590
Hi @aelfric  !
Thanks for trying out my PR. I'm sorry it didn't work out in your case.
It would be great to have a sandbox example to repro the error

[2020-08-29 10:20] davidhennemann opened #596 "Joyride skips steps with placement: "center""
## 🐛 Bug Report

Sometimes it handy to have a step in the joyride tour, which does not highlight any element, but just appears in the middle. One can achieve this by using:
[code]
Unfortunately there seems to be a bug, with using this instruction. If a joyride tour has multiple steps with `placement: "center"` and one is clicking `Next` after the first step, it will just skip all steps afterwards

[2020-09-03 06:34] WeronikaWeglinska opened #597 "showSkipButton from the second step"
## 💬 Questions and Help

Is there a way to enable skip button from second step of the joyride?

[2020-09-03 16:47] vladarsky opened #598 "Wrong position of spotlights if the page is zoomed on mobile"
## 🐛 Bug Report

At first, I would like to thank you @gilbarbara for the very useful library. You did a great job! It has a lot of advantages yet a few flaws. The most critical one for us is the positioning of spotlights. It's getting wrong if you zoom the page on mobile. Unfortunately, we have to disable an education on mobile because of that.
![Image from iOS (1)](https://user-images.githubuserc

[2020-09-04 03:52] gilbarbara commented on #598
Hey @vladarsky

Thanks!
But this isn't something it is on my radar since it's the first time someone mentions it...

Feel free to submit a PR

[2020-09-04 03:54] gilbarbara commented on #597
hey @WeronikaWeglinska

If you need to customize the tooltip beyond the basic you can use a custom tooltip. Check the docs/demo.

[s]

[2020-09-04 03:54] #597 closed

[2020-09-04 12:57] ZeRodolfo commented on #519
@xiajinchun i'm have same problem, i noticed that the problem is generate when my data from redux update my component. However i didn't resolve in moment

[2020-09-13 08:42] gauravsoti1 commented on #531
Facing the same problem. Anyone found a solution?

[2020-09-16 11:09] WeronikaWeglinska opened #599 "When using tooltip component and want to stop joyride for validation, how can I stop the animation to the next step?"
## 💬 Questions and Help

I have a situation when I am using tooltip component and I want to wait for user action, so I am doing some validation. Let's say I have an input in step 3 and I want to stop the tour until user types in email address and after they do I want to continue to step 4.

What I am doing at the moment is sth like this:

[code]

This works fine validation wise, but because I have

[2020-09-28 13:43] delewis13 commented on #567
+1 on this issue

In my case, using Material-UI library with a TextField input inside a Dialog component. The problem does not occur with TextFields not in a Dialog component.

Additional notes:
- Overlay is false
- Using controlled mode
- What appears to trigger the problem is the re-rendering of the joyride tooltip.
e.g. if I have a joyride tooltip open, then open my dialog I can interact with t

[2020-10-01 14:41] JustAskMarina opened #600 "Accessing getPopper breaks overlay and lifecycle"
## 🐛 Bug Report

I'm using Joyride in controlled mode and trying to access the Popper instance to force update of the position when window resize occurs.
I have some logics changing the flow if media query changes, I've managed to make the switch almost smooth but in some edge cases I would like to force an update, but simply using the getPopper to log Popper breaks almost everything.

This is wha

[2020-10-05 15:33] noglitchyo opened #601 "Option to disable the keyboard navigation of Joyride"
## 🚀 Feature Idea

It would be great to be able to disable the keyboard navigation (described in https://docs.react-joyride.com/accessibility) through a props of Joyride component.

## Motivation

I need to display the tooltip at the same time that I display a form to the user who needs to complete it to go to the next step.
_The solution to just not display the tooltip is not valid in this scenar

[2020-10-08 14:14] gilbarbara commented on #600
hey @JustAskMarina

I'm not sure I understand you are trying to do, please post a codesandbox example.

[2020-10-08 23:46] gilbarbara commented on #599
hey @WeronikaWeglinska

Check the controlled mode in the demo, you can control the tour flow by yourself

[2020-10-09 05:50] WeronikaWeglinska commented on #599
Hi, yes, thanks for your reply. I am using now controlled mode with the
[code]
and React.createContext(), when I can dispatch joyride actions, like waiting for the element and dispatch restart from next step. It kinda works, but seems a bit hacky in a way. It would be great if there was a demo showing navigation to another page when tour waits for element to show and it's controlled from different

[2020-10-09 05:50] #599 closed

[2020-10-09 12:26] gilbarbara commented on #599
@WeronikaWeglinska In the controlled demo, the menu opening stops the tour and restart it after the animation is complete. Is the same principle.

How are you going to wait for the navigation to complete would be different for every app so I don't think there is a correct way to do it.

[2020-10-16 00:26] delewis13 commented on #567
Hi @gilbarbara please find demo:

https://codesandbox.io/s/react-joyride-bug-x4dv3

Cheers :)

[2020-10-29 14:06] feebabs opened #603 "Overlay height causing scroll issue"
I had an issue where the overlay height was being set incorrectly causing a scroll issue within my site during the tour. I fixed the issue by setting the `.react-joyride__overlay` height to `100% !important`. However, this will break on any change you put out that changes the classname. I was wondering if it would be possible to get the overlayHeight as a style option similar to the overlayColor s

[2020-10-30 07:27] mbrochh opened #604 "showCloseButton prop is not passed down into react-floater"
Congrats to this fantastic library! It's a real joy to use, pun intended ;)

## 🐛 Bug Report

It seems that not all props are passed down into floaterProps? I'm on version `2.2.1`

## To Reproduce

I have mounted Joyride like this:

[code]

When I open the tooltip, I can still see the close button.

When I use auto-completion in VSCode and write `floaterProps={{}}` VSCode shows me that only the fo

[2020-10-31 10:56] laurensnl opened #605 "placementBeacon type"
## 🐛 Bug Report

The types for the `placementBeacon` prop only accept top, bottom, left & right.

[code]

The other placement values (taken from the `Placement` type) work perfectly fine though and are actually very useful (in my case).

## Expected behavior

Since the other placement values do work, I'd expect the `placementBeacon` prop type to accept these values as well.

[2020-11-03 13:18] gilbarbara commented on #604
hey @mbrochh

Thanks! :)

The close button is rendered by react-joyride, react-floater only takes care of the positioning of the tooltip.

You can use your own UI for the tooltip, check the [docs](https://docs.react-joyride.com/custom-components) for custom components.

[2020-11-03 13:18] #604 closed

[2020-11-16 16:28] jalejandro0211 commented on #603
same here

[2020-11-18 15:12] gilbarbara commented on #603
hey @feebabs

That's weird since height usually doesn't work with percentages...
Can you set up a codesandbox?

[2020-11-18 15:42] feebabs commented on #603
Height usually doesn't work with percentages, but from what I can tell the tour is trying to get the actual height of the item shown in the tour step, but my site layout has a fixed header and footer with scrolling content. This is causing the overlay to add random height below the fixed layout. Looking at the code, setting the overlay height to `100vh` would probably work better in my instance. E

[2020-11-20 13:20] bychrisme commented on #567
https://github.com/gilbarbara/react-joyride/issues/567#issue-573967552

i had the same problem

[2020-11-22 15:49] rebeccalambert opened #606 "Option to remove top right "X" exit button"
## 🚀 Feature Idea

Have a prop that removed / hides / disables the exit button in the top right of the tooltip walkthrough.

## Motivation

I want to make it mandatory for users to go through the entire walkthrough, without being able to close it at any point.

[2020-11-23 19:57] caiosamarone opened #607 "Joyride Works fine in google chrome, but in I.E 11 multiple issues"
I've made my joyride component, and its working fine in chrome and firefox. But when I open it with edge, all the overlays became messed up, doesnt highlight the right places.

[2020-11-23 20:38] caiosamarone commented on #607
<img width="564" alt="I E" src="https://user-images.githubusercontent.com/23369193/100012838-ade7a480-2db2-11eb-8ecf-37d1d7f1bdb8.PNG">

[2020-11-23 20:39] caiosamarone commented on #607
and chrome (working fine)  :
<img width="896" alt="chrome" src="https://user-images.githubusercontent.com/23369193/100012908-c788ec00-2db2-11eb-8776-77d4dfb36814.PNG">

[2020-11-23 20:41] caiosamarone commented on #607
I think, the problem its in the transition between the steps... but how to fix it ?

[2020-11-23 21:19] caiosamarone commented on #517
@jucallej Hey! the bug of scrolling I.E its fixed? Im getting the same error of @LightOri.  I've put disableScrolling={true} and worked, but if the user scroll the page after a step, the bug comes.

[2020-11-24 17:01] jucallej commented on #517
Hey @caiosamarone ! Have you installed https://github.com/mathiasbynens/document.scrollingElement? It's on the readme https://github.com/gilbarbara/react-joyride `If you need to support legacy browsers you need to include the scrollingelement polyfill` 😀 Also if I remember correctly I did some custom logic on top of react-joyride to not allow users to scroll when the tour was on (it was part of my

[2020-12-02 07:03] BradyHuai opened #609 "Multipage support"
Is there a onClick function for each "next" button of the step that we can customize.

[2020-12-03 22:38] gilbarbara commented on #609
hey @BradyHuai

If you need to control how this library handles the tour, you'll need to use the controlled mode.
Check the [demo](https://github.com/gilbarbara/react-joyride-demo) for examples.

[2020-12-03 22:38] #609 closed

[2020-12-03 22:41] gilbarbara commented on #606
hey @rebeccalambert

You can use a custom tooltip or the controlled mode if you need to customize the whole experience.
Check the [demo](https://github.com/gilbarbara/react-joyride-demo) for examples.

[2020-12-03 22:41] #606 closed

[2020-12-03 22:42] gilbarbara commented on #606
You can also customize the [styles](https://docs.react-joyride.com/styling)

[2020-12-03 22:44] gilbarbara commented on #607
hey @caiosamarone

There's no official support for legacy browsers.

Did you include the scrollingelement polyfill?

[s]

[2020-12-03 22:44] #607 closed

[2020-12-06 17:48] #601 closed

[2020-12-07 20:20] akashahmad commented on #567
@gilbarbara I am also having this issue.

[2020-12-07 20:21] MateenCode commented on #567
@gilbarbara  I'm also facing this issue and there doesn't seem to be work around either.

[2020-12-08 06:07] MateenCode commented on #567
Hey @delewis13  in you demo is says if you put a setTimeout on the input field it would work but I don't see that happening

[2020-12-08 07:56] delewis13 commented on #567
Hmm strange. I can't reproduce there either - can't remember how I did it at the time.

Regardless, I made another codesandbox example that demonstrates how I'm currently working around it in my app:
https://codesandbox.io/s/react-joyride-bug-delay-input-render-4qudr?file=/src/App.js

It works by delaying the rendering of the `<Dialog />` component till after the joyride step has incremented.

[2020-12-08 18:56] GhrezaKh74 commented on #591
I resolve this problem with add Bottom code to base css file when use rtl Mode
`.react-joyride__tooltip{
  float: left !important;
}`

[2020-12-10 14:38] #600 closed

[2020-12-10 14:44] gilbarbara commented on #603
@feebabs

You can override the Overlay styles.

[code]

[2020-12-10 14:44] #603 closed

[2020-12-10 15:50] feebabs commented on #603
Adding an inline works too, I'm just not a huge fan of inline styles and figured having an option similar to the other style options would be a good way of handling it. Thanks!

[2020-12-10 16:43] gilbarbara commented on #594
@Alpa84 I couldn't reproduce this right now.
Can you?

[2020-12-10 16:44] #598 closed

[2020-12-10 16:47] gilbarbara commented on #586
Fixed in cfe6a6ee800dc73f2381dec3f7ce801beb98c0f1

[2020-12-10 16:47] #586 closed

[2020-12-10 20:34] gilbarbara commented on #603
@feebabs What do you with "other style options"?

[2020-12-10 20:51] feebabs commented on #603
In your [styling documentation](https://docs.react-joyride.com/styling), you have a special `options` object inside the `styles` prop. I was hoping to be able to add an `overlayHeight` key/value pair to this object so that the code would be something like

[code]

rather than adding the overlay above the styles like this

[code]

Honestly, it's not a huge deal though. Minimal risk doing it the lat

[2020-12-10 21:25] gilbarbara commented on #567
hey @delewis13

I've tried to remove the tab scope from this library and it didn't have any effect with your example.
My next guess was to look at the `material-ui` docs and I've found this: https://material-ui.com/api/unstable-trap-focus/
Setting the `disableEnforceFocus` on the Dialog fixed the input problem with focus.

I'm not sure it is the best approach, however, it goes to show this isn't a

[2020-12-10 21:27] gilbarbara commented on #567
@aqeeljaved88 I don't if you are using the same library for the dialog, but you can try that if you use material-ui, or re-open this issue with a codesandbox example.

[2020-12-10 21:32] gilbarbara commented on #567
@bychrisme @akashahmad @MateenCode

Without more information like which library are you using or a codesandbox example, I can't help you.
"I'm having the same problem" doesn't mean much.

If you are using material-ui, you might try the option I've mentioned above or you can open an issue for your specific case.

[2020-12-10 21:32] #567 closed

[2020-12-10 21:50] gilbarbara commented on #590
Fixed in f1abf475372c0e6b78fd8c04098a4b5ef543d29e

[2020-12-10 21:50] #590 closed

[2020-12-11 00:49] gilbarbara commented on #596
hey @davidhennemann

I think it's a problem with the callback logic in your example.
If you remove the `stepIndex` from the Joyride component, the tour works as expected.
Generally, you don't need to mess with the `stepIndex` unless you really need to control the tour flow by yourself.

[2020-12-11 00:49] #596 closed

[2020-12-11 21:09] #605 closed

[2020-12-11 21:09] #585 closed

[2020-12-15 18:48] juansalvatore commented on #526
@gilbarbara I have the same issue. I'm adding those same styles and the shadow doesn't change. Can you add it to the codesandbox examples?

[2020-12-21 18:55] zahir-koradia opened #620 "Potential highlighting issue"
Hello.

First of all thank you for the wonderful library. It's been a pleasure to work with.

I've come across something, that is potentially a bug and wanted to check if this is indeed the case. I've implemented a rather simple tour with the following steps:

[code]

In the last step here, the look of the highlighted area is different across Chrome and Firefox. I've attached the screenshots here.

[2020-12-22 00:56] gilbarbara commented on #620
hey @zahir-koradia

Thanks!

Which versions of Chrome and Firefox?

You should have fulfilled the required info in the issue template...

Issues without a reproduction link are likely to stall.

[2021-01-03 18:55] damndaniel2000 commented on #343
Hi, using placement : center just makes a modal in the center of the page even though the target is a specific div. Am i doing something wrong?

[2021-01-03 19:13] gilbarbara commented on #343
hey @damndaniel2000

This is the expected behavior for the `center` placement.

[2021-01-03 19:25] damndaniel2000 commented on #343
How do i place it in the centre of the target div?

[2021-01-04 17:59] nixton9 commented on #510
@hugobarragon did you find any better way to do it without using setInterval?

[2021-01-08 12:36] jibin2706 opened #627 "error:target_not_found event not been triggered"
## 🐛 Bug Report

`error:target_not_found` event is not getting trigger when first element of the step is not present in the dom. Also the same issue occurs when your start `run` prop and the next element is not found.

## To Reproduce

Steps to reproduce the behavior:
- First element should not to present in the dom.

## Expected behavior

`error:target_not_found` error should be thrown

## Link t

[2021-01-08 19:14] #620 closed

[2021-01-12 22:31] gilbarbara commented on #627
This event isn't triggered in the controlled mode since the step won't be updated automatically and the callback would be dispatched multiple times.

[2021-01-12 22:31] #627 closed

[2021-01-14 21:30] mac-s-g commented on #171
First, thank you to the authors for providing an amazing module.

I don't think this issue should be closed.  Like others in the thread, my app is also using a menu based trigger.  the state is managed via the callback method.

mapping `disableBeacon: false` to each step effectively _hides_ the beacon but there is a problem with this approach:
The beacon is still rendered with `visibility:hidden`.

[2021-01-15 00:29] mac-s-g commented on #171
fyi - my temporary workaround for the issue described above is the following:
[code]

[2021-01-16 00:12] gilbarbara commented on #171
hey @mac-s-g

This issue is 4 years old. And it's the expected behavior and not a bug.

You can open a feature request in Discussions.

[2021-01-25 08:19] iamalextodoran opened #637 "You can change routes/click outside the beacon"
Start the tour -> the beacon appears -> click anywhere outside the beacon (you can change routes/open menus/etc.)

Is there any way to disable clicking outside of it? Or a way to cancel the tour if the user clicks outside the beacon?

[2021-01-26 23:36] gilbarbara commented on #637
hey @iamalextodoran

This library doesn't know what's happening in the rest of your app, so it can't control its own status in these conditions

[2021-01-26 23:36] #637 closed

[2021-02-03 00:41] ThadeuCesario commented on #487
so it is not possible to pass multiple elements to a single target?

[2021-03-04 12:31] stefanelsat opened #651 "Invalid prop type 'string' listed for offset property in step documentation"
## 🐛 Bug Report

In [step documentation](https://docs.react-joyride.com/step) the type of the `offset` property should be `number` instead of `string`, as this type is required by ReactFloater.

## To Reproduce

Steps to reproduce the behavior:
Define some tour steps and pass `offset: '0'` as param, for instance:
[code]
Produces following error in console:
[code]

[2021-03-04 14:19] Pareder commented on #606
@gilbarbara I have found new workaround for this issue: adding `hideCloseButton: true` to each step will hide this close button, because in code you have [such condition](https://github.com/gilbarbara/react-joyride/blob/master/src/components/Tooltip/Container.js#L82). But in documentation for step (https://docs.react-joyride.com/step) you don't have such prop, is it deprecated or what?

Also it wo

[2021-03-04 18:11] gilbarbara commented on #651
Updated in c33746d542fd8203d2e85ed07a0c07753c3cc86f

[2021-03-04 18:11] #651 closed

[2021-03-04 18:12] gilbarbara commented on #606
@Pareder Added to the docs in c33746d542fd8203d2e85ed07a0c07753c3cc86f

[2021-03-10 11:39] emreesirik opened #655 "findDOMNode is deprecated in StrictMode"
## 🐛 Bug Report

React gives error in strict mode.

<img width="1326" alt="Screen Shot 2021-03-10 at 14 38 49" src="https://user-images.githubusercontent.com/7847917/110623734-56791300-81ae-11eb-9644-afa7c1442859.png">

[2021-03-10 13:55] gilbarbara commented on #655
@emreesirik
This library doesn't use findDOMNode.

The error that you attached apparently came from the [react-resize-detector](https://www.npmjs.com/package/react-resize-detector) library...

[2021-03-10 13:55] #655 closed

[2021-03-16 02:27] AlexanderGuillermoSeguraBallesteros commented on #594
Hello, I am having a similar issue, but sometimes the tour doesn't scroll, I have not been able to see the cause, I have cleaned all css but the behaviour is not fixed, I am using ant design, Is there any issue with this library? Because it does require to import antd css

[2021-03-17 02:24] valtism commented on #594
Here's a case where having `top: 60px` set on an absolute-positioned scrollable parent breaks the highlight position

https://codesandbox.io/s/shy-wind-6nz1p?file=/src/App.js

[2021-03-17 02:51] valtism commented on #594
Interestingly, it doesn't seem to have a problem when in fullscreen app mode (https://6nz1p.csb.app). I think the issue has to do with a performance slowdown interfering with the positioning of the highlight.

[2021-03-17 07:52] valtism commented on #594
The same thing happens with this similar example https://codesandbox.io/s/clever-lehmann-jkvop?file=/src/App.js except with an absolute-positioned content (similar to an issue I am facing)

I did some digging and it looks like the `getElementPosition` function is not returning the correct `top` value. I think that when there is a scroll parent, we should not be just returning `elementRect.top + (m

[2021-03-22 05:49] Prateek-Singhdeo opened #657 "TypeError Invalid parameter: element must be an HTMLElement"
## 🐛 Bug Report

I am getting the following error in react-joyride custom implementation.
"TypeError
Invalid parameter: element must be an HTMLElement".

Please find the below sandbox link.

https://codesandbox.io/s/react-joyride-forked-zy1su?file=/CustomComponents/index.js

## To Reproduce

Go to the custom component option in the above sandbox and once you start the tour can see the error.

## E

[2021-03-23 03:12] inf3rnus commented on #519
Problem still seems to exist, I'm experiencing this as well

[2021-03-24 15:39] mkotajny commented on #426
This works for me (in react-joyride ver 2.3.0):

Removing of outline in all buttons in the guide:

1. To any component (which uses <Joyride ..>) - added styles.css and import them :
`import './styles.css';`

2. inside of styles.css - override "react-joyride__tooltip" css class:
`.react-joyride__tooltip button:focus {
  outline: none;
}
`

[2021-03-24 23:42] gilbarbara commented on #657
hey @Prateek-Singhdeo
I haven't used the sandbox you forked for a long time. Where did you find it?
If you the demo linked here in the repo it will use the new one...
https://codesandbox.io/s/github/gilbarbara/react-joyride-demo

[2021-05-06 15:34] starikcetin commented on #505
Setting `disableScrollParentFix={true}` fixed this for me. But now the highlight is positioned wrong for smaller screens.

[2021-05-10 16:44] vhermecz commented on #210
@vget98 could you rename the ticket to something more descriptive? e.g.: "support for multiple instances in parallel". (It is annoying  to need to open from a search list because "Questions" does not really give away much. thx

[2021-05-21 11:29] danielrollenmillernovacode opened #689 "Joyride breaks responsive tables"
## 🐛 Bug Report

Hi, I really like this project so far for the ease of use while also providing enough functionality and customizability for my current use case. Unfortunately I encountered a minor issue:
When using the bootstrap table-responsive class on a table with a certain minimum width, it will get horizontally scrollable on smaller displays. I understand that joyride is not perfectly usable

[2021-05-21 14:48] gilbarbara commented on #689
hey @danielrollenmillernovacode

Did you try setting the `disableScrollParentFix` prop?
https://docs.react-joyride.com/props

[2021-05-25 06:27] danielrollenmillernovacode commented on #689
@gilbarbara Thanks for the fast reply!
That works great and doesn't break the table anymore!
Do you have any idea how we could scroll such a table horizontally?

Also I am wondering what else this prop may influence now and what the original purpose or issue for the fix causing this behavior was? Everything still seems to behave as intended in my joyride tours, so I assume it was some corner case?

[2021-05-25 22:00] gilbarbara commented on #689
@danielrollenmillernovacode

There's no functionality for horizontal scrolling. There was a PR for it some time ago but it added too much complexity and nobody voted for it.

The prop just adds the overflow property... There were several issues with positioning, especially with content that didn't fill the whole page height and the overlay/tooltip didn't render correctly.
This fix is being used fo

[2021-05-25 22:00] #689 closed

[2021-06-01 21:43] afrancht commented on #266
Hi @gilbarbara,

Thank you so much for this resource!

This doesn't resolve the issue as the scrolling still leaves the component behind the navbar.

![image](https://user-images.githubusercontent.com/19917183/120393956-66f5e100-c2f8-11eb-93ea-3b4dc13f141d.png)

[2021-06-18 10:14] IgnusG opened #702 "Using joyride in preact causes an error after completing the first step"
## 🐛 Bug Report

Providing an array of at least 2 steps to Joyride while using Preact causes an exception to be thrown after the first step is completed.

## To Reproduce

Environment:
Preact `10.5.13`
Joyride `2.3.0`

Steps to reproduce the behavior:
1. Provide at least 2 steps to Tour
2. Click on first beacon and close tooltip
3. Click on second beacon -> crash

<details>
<summary>Error Stack</s

[2021-06-18 16:03] gilbarbara commented on #702
hey @IgnusG

Preact isn't supported.

[2021-06-18 16:18] IgnusG commented on #702
Hey @gilbarbara. I figured. I still think that this is either A happening because preact is doing something that react isn't or B that this library (or one of it's dependencies) is doing something that breaks this compatibility. If it is the latter this might lead to problems with future react versions anyway. If it's the former, I guess there's nothing for this library to do

[2021-06-18 16:18] #702 closed

[2021-06-26 19:10] mgw-sbex opened #705 "Trying to upgrade to 2.1.1"
### Discussed in https://github.com/gilbarbara/react-joyride/discussions/704

<div type='discussions-op-text'>

<sup>Originally posted by **mgw-sbex** June 26, 2021</sup>
We cannot use the latest due to dependecies. It seems that 2.1.1 would work. When I install it, it does not create anything in [build-dir]/node_modules/react-joyride/lib/react-joyride. We used to import like this:

@import '~reac

[2021-06-27 04:23] gilbarbara commented on #705
Read the migration guide.
https://docs.react-joyride.com/migration

[2021-06-27 04:23] #705 closed

[2021-06-28 08:11] jonasdd opened #706 "Aria - alertdialog implementation"
alertdialog design pattern is not fully implemented. The design pattern is nearly the same of dialog design patten, only assistive technologies interpretation is not the same.

Like a dialog, alertdialog must :
- have a focustrap 👍
- set focus to a focusable element inside a modal 👍 . Focus is always set to the next button. A nice feature should be, to give the choice where the focus is set on dia

[2021-07-07 07:06] Labham-Jain opened #709 "Error: Cannot find module 'lts:popper.js'"
## 🐛 Bug Report

I just installed react-joyride library with yarn, after importing and using the library it throws me this error.

Error: Cannot find module 'lts:popper.js' from '/home/laham/Documents/CODE/Aerogram/things-web/node_modules/react-floater/node_modules/popper.js/package.json'

## To Reproduce

In terminal:

[code]

In App.jsx

[code]

[2021-07-07 07:21] Labham-Jain commented on #709
This issue seems to be generated by snowpack (react bundler), closing issue...

[2021-07-07 07:21] #709 closed

[2021-07-26 09:02] LWronka commented on #519
I have similar issue, I have implemented 5 steps, on 3rd step data are fetched ( used redux-saga and redux) and on 3rd step overlay is not showing. I saw that on faster internet connections sometimes overlay is showing but on slower always is missed.

@gilbarbara are you experienced sth like that ? Fetching data could cause overlay break ?

[2021-07-26 13:01] gilbarbara commented on #519
@LWronka

As I said above it's impossible to debug UI problems without an example.
But it could be related to the async loading. You might need to use the controlled mode and load the data before changing the step.

[2021-07-30 08:20] tsiory commented on #575
Any solution for this strange issue ?

[2021-08-01 12:32] #657 closed

[2021-08-03 17:22] igloude opened #715 "Tooltip Component Positioning Not Updating"
## 🐛 Bug Report

If content is loaded into the page after a joyride tooltip is active, the positioning does not update to continue pointing at the target.

## To Reproduce

Initiate a tour, load in content or add spacing on a slight delay.

## Expected behavior

When content on the page is added/removed, the tooltip should reposition to continue pointing at its intended target.

## Link to repl or

[2021-08-03 21:05] kepamuk opened #716 "spotlight style won't override the default style"
this question was already asked but I did not see a solution https://github.com/gilbarbara/react-joyride/issues/489

i cant overwrite property u spotlight pointer-events: none how to do it?

[2021-08-04 01:48] gilbarbara commented on #716
Did you check the [docs](https://docs.react-joyride.com/props)? `spotlightClicks`

[2021-08-05 14:44] ashilr11 opened #717 "No scrollDuration prop?"
Can't seem to pass in the scrollDuration prop on version 2.3.1. Going through the package, it seems like its not added in the interface for Props that extend CommonProps. Any ideas of what I could do to use it? Thanks

![image](https://user-images.githubusercontent.com/43151898/128369396-458bda5c-734a-4882-b47e-1e30a90524f2.png)
![image](https://user-images.githubusercontent.com/43151898/128369447

[2021-08-06 18:33] #716 closed

[2021-08-20 12:42] vegeta123254 commented on #333
@gilbarbara , Please give us an Example for multipage using. This would be so helpful

[2021-09-10 08:59] adelinapereteatcu opened #732 "disableScrolling for a Step doesn't override the default value"
## 🐛 Bug Report

Setting a value for `disableScrolling` for a certain Step does not override the default value

## To Reproduce

- Visit https://codesandbox.io/s/nervous-sutherland-nmhtc?file=/src/App.tsx
- Click **Next** to the second step.
- When going to the second step the autoscrolling takes place, although when debugging this certain step has `disableScrolling` set to true

![image](https://

[2021-09-12 02:29] gilbarbara commented on #732
hey @adelinapereteatcu
Seems like a bug! 🐛

Feel free to submit a PR

[2021-09-12 06:44] delewis13 commented on #594
Just another codesandbox to add! Similar issues with incorrect spotlight position when attempting to spotlight a position within a scroll parent: https://codesandbox.io/s/react-joyride-scrolling-example-0k3e1?file=/src/App.js

[2021-09-12 11:09] delewis13 commented on #732
PR here: https://github.com/gilbarbara/react-joyride/pull/736

[2021-09-12 11:09] delewis13 commented on #717
PR here https://github.com/gilbarbara/react-joyride/pull/735

[2021-09-19 10:43] Onokaev commented on #561
Was there a solution to this issue?
I am getting the same error

[2021-09-19 20:19] wbolduc opened #739 "Callback being called twice when leaving step with target:"body", placement:"center""
https://codesandbox.io/s/amazing-fermi-en5xo?file=/src/Tour.js

This is a fork of the demo branch with a simple reproduction.
Notice the inclusion of Tour.js

I'm not totally sure if this has anything todo with this being controlled.

The tour should start automatically and walk you through the bug

The callback being called twice makes it hard to call imperative code during a step and for this us

[2021-09-20 06:34] BhumiSalat commented on #409
disableBecon prop is not shown i use this version "react-joyride": "^2.3.1",

[2021-09-30 10:32] wwwouter opened #745 "Error when using CSP headers and nonce"
## 🐛 Bug Report

Upon introducing CSP for inline styles using a nonce value, the styles for the react-joyride component do not apply since there is no way to pass the nonce

![image](https://user-images.githubusercontent.com/997207/135438847-b00d8e78-5a88-4cfa-b5e6-3bbf24eaf00c.png)

I added a PR to resolve https://github.com/gilbarbara/react-joyride/pull/744

## To Reproduce

Steps to reproduce t

[2021-10-01 02:50] cplayer11 commented on #519
@gilbarbara
same problem, not same reason though

example modified from react-joyride-demo: https://codesandbox.io/s/new-glade-ncw57

changes in `Basic\index.tsx`
1. add `disableBeacon: true` to each step
2. use `<div style={{ display: "none" }}>` to hide step 3 target

overlay will be disappeared after skip step 3

[2021-10-06 08:19] TarekArar opened #748 "Border is not covering the arrow"
## 🐛 Bug Report

I need to apply a border to the tooltip and when I try with custom components the border is only applied to the snippet but not to the arrow.

## To Reproduce

![Screenshot at 2021-10-06 09-11-51](https://user-images.githubusercontent.com/36131347/136165976-f3437867-cb7b-4f56-8065-3728b80f0c1c.png)

## Expected behavior

Border cover arrow too.

[2021-10-06 12:04] nitish-arora opened #749 "Tooltip Not closing"
Clicking on cross icon hiding the backdrop and highlight part for tooltip but not hiding the tooltip itself, and if I click on OK button inside of tooltip it is working properly. I got stuck in this not able to find the solution for this.

[2021-10-12 14:25] josh231101 opened #750 "React joyride breaks antd table horizontal scroll"
## 🐛 Bug Report

A clear and concise description of what the bug is.

## To Reproduce

Steps to reproduce the behavior:
1. Create an antd table that exceeds its width and force it to scroll on horizontal view.
2. Add a card from joyride into a column
3. You will see that scroll is not anymore and the table breaks its width,
## Expected behavior
Not breaking the table

### Steps to reproduce
1. Ope

[2021-10-12 14:52] gilbarbara commented on #748
hey @TarekArar

The tooltip, including the arrow, is rendered by [react-floater](https://github.com/gilbarbara/react-floater) but there's no support for setting the border in the arrow in it.

[2021-10-12 14:52] #748 closed

[2021-10-12 15:16] josh231101 commented on #750
Wym? The table is breaking its horizontal scroll

[2021-10-12 15:30] gilbarbara commented on #715
I've tried to set a key in the Joyride wrapper component that changes when there's a change in the content and it fixed the positioning.

https://codesandbox.io/s/react-joyride-positioning-bug-repro-forked-htqvm

[2021-10-12 15:31] TarekArar commented on #748
@gilbarbara I think it would be better to add support for border to the arrow.

[2021-10-21 07:55] cbaum86 opened #751 "Props - hideCloseButton not generic"
### Issue
The documentation states that a prop of `hideCloseButton` can be set on the `Joyride` component, however this does not work and can only be implemented on each individual `Step`.

### Expected
I would expect to be able to apply this prop generically to hide the close button on all steps without having to set individually.

### Reproduction

1. Using the library [code sandbox](https://cod

[2021-10-27 09:45] hoaikthai opened #752 "Unable to find target with hidden visibility parent"
## 🐛 Bug Report

Unable to find target with hidden visibility parent

## To Reproduce

Steps to reproduce the behavior:
- Create a target with style visibility visible and put it in a parent with visibility hidden
- Create steps with the target
- Go to that step

## Expected behavior

The target should be highlighted

## Link to repl or repo (highly encouraged)

https://codesandbox.io/s/react-joyr

[2021-11-11 12:47] squigglybob commented on #467
@erikrenberg Thanks that background-color: white solved this issue for me :)

[2021-11-17 05:08] trmpowell commented on #519
@gilbarbara, looks like others are still having this problem. I can also see this issue same as @cplayer11 - when a step uses `disableBeacon: true`, the overlay is not rendered. Any chance this issue can be reopened?

[2021-11-17 22:12] gilbarbara commented on #519
@trmpowell Feel free to submit a PR

[2021-11-23 12:31] hugobarragon commented on #510
Nop, that way still does not work
https://codesandbox.io/s/joyride-bug-on-github-cant-get-a-good-placement-8ur9j?file=/index.js

[2021-11-23 12:33] hugobarragon opened #758 "Wrong placement of tooltip always"
## 🐛 Bug Report

Toolip always gets wrong position, same bug I had classified here:  https://github.com/gilbarbara/react-joyride/issues/510
but it was forgotten

## To Reproduce

Place a step on table header

## Expected behavior

Tooltip with step should be correct positioned

## Link to repl or repo (highly encouraged)
https://codesandbox.io/s/joyride-bug-on-github-cant-get-a-good-placement-8ur9

[2021-11-23 12:56] gilbarbara commented on #758
Feel free to submit a PR

[2021-11-23 12:58] hugobarragon commented on #758
Hi, do you know where to look for? or what could be the cause of this bug?

[2021-11-23 13:05] gilbarbara commented on #758
@hugobarragon

Most likely is a style configuration in antd's table CSS (probably overflow) that is messing with positioning.
I don't see how this library can work around it without hacks...

[2021-11-26 15:48] AbramovichCp commented on #598
face same problem

[2021-11-29 17:20] josh231101 commented on #750
**SOLUTION**
Solved using `disableScrollParentFix` as true.
Check -> https://docs.react-joyride.com/props

[2021-11-29 17:20] #750 closed

[2021-12-07 16:00] ZeCarlosCoutinho commented on #739
Not sure if this adds something important or not, but when the first step is `{ target: 'body', placement: 'center' }`, it shows the 1st step straight away, without having to click any beacon before.

Not sure if this is intentional or not, but it was not what I was expecting.

[2021-12-07 16:44] ZeCarlosCoutinho commented on #739
When the component is uncontrolled, the callback is called once, as supposed.
However, the beacon still does not show if the 1st step is `{ target: 'body', placement: 'center' }`

[2021-12-08 14:03] orszaczky commented on #266
This is still an issue in v2.3.2

[2021-12-11 00:43] showduhtung opened #763 "Tour opens drawer component, but can't find target until it mounts."
## 🐛 Bug Report

## Expected behavior

Expected to be able to run the tour through any component in the application, including unmounted components. Expect to be able to open, for example, a drawer and then append the next step to it.

Here's a codesandbox to reproduce-
https://codesandbox.io/s/react-joyride-drawer-bug-gk8kf?file=/src/Tour.jsx

I was able to get something by adding a useEffect lis

[2021-12-11 17:09] gilbarbara commented on #763
hey @showduhtung

This is not a bug, the standard tour wouldn't wait for elements.
You can use the controlled mode for that. Check out the [examples](https://codesandbox.io/s/github/gilbarbara/react-joyride-demo?file=/src/Controlled/index.tsx)

[2021-12-11 17:09] #763 closed

[2021-12-13 02:29] developer4creations opened #766 "Skip ride popup if parent of target element is hidden"
I am using tabs in my application so the steps contains object for other tabs that are not active yet.
Consider i have Tab1, Tab2, Tab3 so currently Tab1 is active and other tabs are hidden but present in DOM. So if i add steps for hidden tab then it is not working or i can say its showing popup in hidden content. Please suggest how can i resolve this

[2021-12-23 19:19] hewilliam commented on #751
+1 also disableScrolling prop isn't working on step level too.

[2021-12-28 12:21] lcoalves commented on #598
Same problem.

[2021-12-30 11:37] guiquintelas commented on #519
My problem was manually managing the index and also calling the primary `onClick` and back `onClick`, removing both fixed the problem

[2021-12-30 18:10] therealizzi commented on #488
It took me a little time (while reading the docs and testing) to realize that "disableScrolling" was a property of the `<Joyride />` component, and not a property of `Steps`.  (Silly, but I was confused for a while).

Should be like this:
` <Joyride
       steps={Steps}
       disableScrolling={true}
/>`

[2021-12-31 13:35] maltsev opened #769 "Steps navigation doesn't work when using Vite bundler"
## 🐛 Bug Report

When using [Vite bundler](https://vitejs.dev/), navigation between steps and the close step button don't work.
I tested the same code with create-react-app and it works well.

## To Reproduce

See the test repo below.

## Expected behavior

It should work in Vite.

## Link to repl or repo (highly encouraged)

I prepared a test repo: https://github.com/maltsev/react-joyride-debug

[2021-12-31 21:12] gilbarbara commented on #769
hey @maltsev

There are some users using this library with vite without problems.
Can you create a minimal reproduction app to make sure isn't something with your configuration?

[2022-01-01 20:47] maltsev commented on #769
Thanks for your quick response!

Sure, I tried to do it here: https://github.com/maltsev/react-joyride-debug

It's an example for your docs that I modified a bit to show the tooltips on page load. I used the default CRA and Vite config.

Also, wish you a happy New Year :-)

[2022-01-02 03:55] gilbarbara commented on #769
hey,

Thanks, happy new year!

My findings so far:

- removing the `React.StrictMode` fix it.
- Also works without the `stepIndex` even with `StrictMode` (do you really need to set the index manually?)
- It appears that this [conditional](https://github.com/gilbarbara/react-joyride/blob/main/src/components/index.js#L164) is getting a different result with vite compared to CRA.

I don't know what v

[2022-01-02 04:38] showduhtung commented on #763
I find this a little confusing because the docs references that using stepIndex makes joyride a controlled component:
[code]
And as you can see from the code sandbox example above, it also uses controlled mode. So I'm a little confused at what you mean

[2022-01-02 07:39] showduhtung commented on #763
I'm finally figuring out how this controlled thing works, I wish it was a little more clear in the docs that for a controlled unmounted component, you have to stop the run, mount the correct component, and then finally you can attach the step to the component. The examples are great, but the docs don't explain this behavior that well. And I feel like I could still have a misunderstanding somewhere

[2022-01-02 15:56] gilbarbara commented on #763
@showduhtung
Feel free to update the docs, it's open-source after all! :)

[2022-01-02 16:08] showduhtung commented on #763
true true true true true true, fair point. reversed uno'd me to put my money where my mouth's at

[2022-01-03 09:26] maltsev commented on #769
I tried it, but it didn't help. Did you use something like

[code]

?

Unfortunately, yes. I want to display the first unseen tooltip on page load but also let the user navigate to the previous  seen tooltips.

Yes, it's definitely something with Vite or its internal tools. I'm still not sure in what capacity Vite uses esbuild as their documentation states that they use [rollup for bundling](https

[2022-01-05 04:57] valtism opened #772 "global is not defined"
## 🐛 Bug Report

This is coming from the `react-floater` dependency. I can see that that package has been updated https://github.com/gilbarbara/react-floater/issues/83 so we just need to update the dependency here.

[2022-01-05 13:37] #715 closed

[2022-01-05 13:38] gilbarbara commented on #772
You can use a polyfill for it...

There are a few breaking changes in the updated react-floater package, so it's not that simple to do it

[2022-01-05 20:36] ccelent commented on #769
I'm running into a near identical issue when migrating to webpack.  My previously working controlled-mode component no longer works after the swap in the same way noted above.  You can click skip, but close and next both are completely unresponsive and never invoke the callback.

Moving to non-controlled mode does work better, but has some possibly-unrelated other issues, such as the inability to

[2022-01-05 21:25] valtism commented on #772
Oh, I never even thought of using a polyfill. That's actually a good idea for now.

[2022-01-06 01:57] valtism commented on #769
I also have this problem moving off Webpack to Vite. I am not, however, using strict mode.

[2022-01-11 08:44] valtism commented on #769
The issue seemed to be the way that the `tree-changes` package was importing from the `fast-deep-equal` library. `fast-deep-equal` is not esm friendly, so since Vite has issues with non-esm, it would mean that calling `equal` would throw.

Unfortunately the underlying error would be caught meaning surfacing the real error took some investigation. Still, I think the fix linked above should solve th

[2022-01-11 22:40] valtism commented on #769
So the fix I proposed doesn't look like it is going to work for the library, as outlined here: https://github.com/gilbarbara/tree-changes/pull/18#issuecomment-1009877162

Since the project I am using this library with already has `esModuleInterop` enabled, I will be using the linked fix by using the `patch-package` library. If you want to do this as a workaround you can install `patch-package` and

[2022-01-15 15:50] alexpopa-work commented on #295
@toddmedema it's an old comment but it still saves the day. Needed the same thing, turns out that `disableBeacon: true` launches the tour without creating beacons. Exactly what was needed. Thanks.

[2022-01-19 00:22] #772 closed

[2022-01-21 10:47] molhanec-work commented on #594
@valtism Thanks, `@pry-financials/react-joyride` works for me...

[2022-01-28 02:53] v3rron opened #777 "Joyride creates duplicated DOM elements when re-running the tour"
## 🐛 Bug Report

Package Version: 2.3.2

Hi, first of all, thanks for the great package.
Please see the bug described below and Code Sandbox example with reproduction.

When implementing Joyride  in controlled mode, the DOM is being duplicated on recurring runs, instead of being cleared properly.

## To Reproduce

Steps to reproduce the behavior:
1. Go to Code Sandbox link below
2. Click on Start

[2022-02-05 12:50] krehwell opened #780 "is there any reason why we don't allow to override these properties?"
https://github.com/gilbarbara/react-joyride/blob/9acc22ef5eb77c6a077696b46fef004ebee1764c/src/components/Overlay.js#L110-L123

why the return style destructs the custom spotlight (`styles.spotlight`) first.

what if I want to add animation to the spotlight? so that when it's changing/updating the size, it will show the transition of shrinking the spotlight area instead of change directly making it

[2022-02-24 11:22] tt-anil opened #783 "Cannot read properties of undefined (reading 'isSameNode')"
## 🐛 Bug Report

If you use the controlled mode and the target is found but disappears before the step is completed, the tour crashes with the error message `Cannot read properties of undefined (reading 'isSameNode')`.
As far as I have seen, there is no designated way to prevent this in controlled mode, is there?

## To Reproduce

Open the code sandbox, wait 3 seconds until the target disappears a

[2022-02-24 16:41] gilbarbara commented on #783
hey @tt-anil

You have control of the `steps` so if you need to remove an element, update the steps before removing it.

[2022-03-01 09:26] louise-davies commented on #732
This issue still seems to be present in 2.3.2 - can this issue be reopened?

[2022-03-01 20:43] luciddr34m3r opened #784 "Event 'step:before' won't fire if the target does not yet exist"
## 🐛 Bug Report

I'm building a tour that integrates with react-router-dom that spans multiple pages. In order to navigate between pages, I capture the 'step:before' event, and if it requires a specific route, I load that route in that step. This should allow the DOM to populate with the elements required for the next step. Instead, Joyride fires 'error:target_not_found', preventing me to load the

[2022-03-01 23:54] gilbarbara commented on #784
hey @luciddr34m3r

You could stop the tour, wait for the page to load, and start it again with the next stepIndex when the element is available.

[2022-03-02 00:25] luciddr34m3r commented on #784
Seems undesirable. If there is an event that is supposed to fire before the step is processed, isn't that where the preparation for the step should take place?

If you allow the before even to fire without the dom element, it give you an opportunity to do any work necessary. Stopping and restarting the tour would require you to handle a huge number of edge cases. Whereas by allowing the before eve

[2022-03-02 00:47] gilbarbara commented on #784
It's a matter of interpretation...

The `step:before` action checks if the target is present before rendering the beacon/tooltip and it won't wait for the target to be present anyway.

The controlled mode was added exactly for these edge cases.

[2022-03-02 00:52] luciddr34m3r commented on #784
I definitely see what you are saying, but wouldn't it be more intuitive to fire the callback with the `step:before` event, check for the presence of the target after the callback completes, and then throw an error if the target doesn't exist at that time?

I get that controlled mode is for these more advanced cases, but this is pretty similar to `componentWillMount` functionality, and I would expe

[2022-03-03 11:08] yashaswinibprasad87 opened #785 "Spotlight Style unable to override"
I need to change the width of spotlight

spotlight:{
width:30,
......
}
 above code not working,
KIndly provide solution

[2022-03-03 12:21] gilbarbara commented on #785
The spotlight dimensions are calculated dynamically, there's no way to change it

[2022-03-03 12:21] #785 closed

[2022-03-05 20:43] gilbarbara commented on #333
hey,

Here is the multi-page tour example: https://codesandbox.io/s/react-joyride-multi-page-tour-f7bkv0

[2022-03-05 20:43] gilbarbara commented on #333
hey @Histamina

Here is the multi-page tour example: https://codesandbox.io/s/react-joyride-multi-page-tour-f7bkv0

[2022-03-07 11:32] Histamina commented on #333
Thank you! : D

[2022-03-09 07:51] erm1116 commented on #769
I'm facing this issue and try the workaround using `patch-package` and works it.
But, I hope this problem will be fixed.

@gilbarbara
I saw your `tree-changes` package has been supported esm builds.
https://github.com/gilbarbara/tree-changes/pull/20

Do you have any plans to fix this issue?
(maybe, I think this issue is fixed to upgrade `tree-changes` package version to 0.9.0)

[2022-03-09 08:07] joshsny commented on #266
Yeah +1 for this issue, a topOffset param would be really helpful! Trying to figure out a hack for this right now. Thanks for all the amazing work you have done @gilbarbara!

[2022-03-09 08:17] joshsny commented on #266
After diving into the code I can see this is available with the `scrollOffset` parameter. Not sure how I missed that in the docs!

[2022-03-10 12:06] SamyakJain2020 commented on #590
Hi i am also facing the same issue , what should I do ??

[2022-03-13 20:14] pierre-borckmans commented on #769
@erm1116 @gilbarbara For me, updating `tree-changes` to `0.9.0` indeed fixes this issue.
I opened a PR for it here: #786
Let me know if yo think this change is suitable.
Thanks!

[2022-03-15 06:29] kahmencheang commented on #526
this worked for me on both basic and custom component:

[2022-03-19 17:46] #783 closed

[2022-03-19 23:44] gilbarbara commented on #739
@ZeCarlosCoutinho
Sorry for the late reply.

If the target is the `body` and since it occupies the whole page there's no place to add a beacon

[2022-03-21 04:01] #784 closed

[2022-03-21 04:03] #751 closed

[2022-03-21 04:03] #739 closed

[2022-03-21 04:05] gilbarbara commented on #769
Fixed in 2.4.0

[2022-03-21 04:05] #769 closed

[2022-03-23 01:44] billie-lee opened #787 "placement property not working."
## 🐛 Bug Report

Hi, I tried using placement property for the steps, but every time i used it it's giving me this error. It says Types of property placement are incompatible.

S2769: No overload matches this call.
  Overload 1 of 2, '(props: Props | Readonly<Props>): ReactJoyride', gave the following error.
    Type '({ title: string; content: Element; locale: { skip: Element; }; target: string; s

[2022-03-30 15:14] billyjacoby opened #789 "Overlay disappears when going back to 1st step"
## 🐛 Bug Report

When using a multi-step tour if you travel back to the first step the overlay on the page disappears. It reappears when you go back to any step after 1, but always disappears at step 1 again.

## To Reproduce

I have created a repo that displays this behavior on a fresh CRA build [here](https://github.com/billyjacoby/react-joyride-issue)

## Expected behavior

The overlay should p

[2022-04-01 06:47] NinaSekret commented on #487
we need it tooo((((

[2022-04-06 15:17] billyjacoby commented on #789
I wasn't able to figure out how to fix this via react-joyride but I was able to implement a (hacky) workaround in case anyone else runs into this issue.

I ended up adding a function to the `joyrideCallback` function that appends a node to the body if the step index is 1 and action is previous. Code snippet here:

[code]

[2022-04-12 20:02] AndreyMartinez opened #793 "react-floater use nested-property@1.0.1 in that version 0.7.3"
## 🐛 Bug Report

Right now the nested-property library is used in react-floater in version 0.7.3
as you can see below
[code]
That dependency has security problems.
in react-floater 0.8.0 this problem is solved by not using the dependency.
It is possible to do an update with this.

## Expected behavior

it's possible update this library.

thank you soo much

[2022-04-21 17:38] jestrickler commented on #789
Ours starts with missing overlay on step-0, not just going back.

[2022-04-30 10:55] s-pcode opened #796 "Tour not scrolling to view the next component"
## 🐛 Bug Report

The tour initialization is correct and it works as expected for 1st 3 steps as all the components are in the viewport. But the 4th step is regarding the component which is not visible and here the problem arises that the tour does not scroll the page to bring that component into view. I followed the exact steps mentioned in the docs and also the code is similar to the demo.

## To

[2022-04-30 23:58] gilbarbara commented on #796
The stackblitz example isn't using this library, so I'm closing this

[2022-04-30 23:58] #796 closed

[2022-05-01 01:58] s-pcode commented on #796
sorry my bad.

[2022-05-03 15:04] lorof opened #798 "color of arrow"
can't change color of floater arrow

[code]

[2022-05-04 08:02] #798 closed

[2022-05-11 07:06] wuifdesign commented on #777
having the same problem. any solution for this?

[2022-05-13 16:19] jestrickler commented on #789
I noticed in the chrome devtools react components tab that the lifecycle prop on the JoyrideStep component is 'init' when the overlay is NOT displayed and changes to 'tooltip' when I click next and the overlay is displayed. If I manually update it in devtools to 'tooltip' on the 1st step, it displays the overlay.

[2022-05-13 19:40] jestrickler commented on #789
This seemed to have to do with timing. I was calling the helpers.reset(true) when run is true in my own useEffect. I moved this to the callback on ACTIONS.CLOSE and I always have an overlay (knock on wood).

[2022-05-17 05:41] sohedev commented on #244
check the link below it was useful for me  for some style props you wanna use
https://codepen.io/arielcavalcante/pen/YzzoaZK

[2022-05-19 20:14] lisandro52 commented on #772
Can you give an example on how to do this?

I'm running an NX project with Typescript, and I can't find a way to define a global `global` variable. I've tried importing a JS file with a `var global`, I've tried the `polyfill.ts` that comes with the project, but that always throws and error that `global` is not defined, even though it's defined on the previous line...

[2022-05-20 08:34] shakefish commented on #448
The highlight to highlight the correct element, even after scrolling.

The highlight spotlight is highlighting the wrong element. So what's going on is if I don't scroll at all, and then run through the joyride, then the correct element is highlighted. But if I scroll any amount, the wrong element gets highlighted. It looks like something to do with the highlight component using a different scroll

[2022-05-20 20:32] gilbarbara commented on #448
hey @shakefish

Do you have a reproduction you can share, like Codesandbox? Issues without a reproduction link are likely to stall.

[2022-05-27 10:39] victorgunta commented on #787
Use it like this:|

placement: 'center' as const,

[2022-05-27 15:29] #787 closed

[2022-06-01 05:06] NickyTope commented on #798
I also need to change the color of the arrow, the doco here: https://docs.react-joyride.com/styling suggest I should use `options.arrowColor` which doesn't work, neither does the floaterProps approach above...

The pull request above seems to have been closed without merging, can this please be addressed ???

in the meantime, I am using this in css:
[code]

[2022-06-02 02:14] NickyTope commented on #798
ok, I just found that I was already overriding the arrow color on each step which is why it wasn't working as a prop on the main component `step.styles.options.arrowColor` indeed works fine.

[2022-06-09 06:32] Aidensaid opened #811 "Controlled product tour popovers are not visible in React 18.1.0 using strict mode"
## 🐛 Bug Report

Product tour popovers are not visible in React 18.1.0 using strict mode.

## To Reproduce

Steps to reproduce the behavior:

1. Open the [code sandbox](https://codesandbox.io/s/exciting-cohen-ynkqld?file=/src/_app.js)

2. Observe the product tour not visible

3. Comment out React.StrictMode

4. Observe the tour renders as expected

## Expected behavior

Expect the tour popover to

[2022-06-13 07:10] sam17896 commented on #772
Any plan to update react-floater to integrate breaking change in near future.

[2022-06-13 13:56] #752 closed

[2022-06-13 13:56] #749 closed

[2022-06-13 17:01] gilbarbara commented on #577
@nadeem-preplaced

https://codesandbox.io/s/github/gilbarbara/react-joyride-demo/tree/main

Or https://github.com/gilbarbara/react-joyride#development

[2022-06-15 03:48] nicvickeryw commented on #811
Also experiencing this exact same issue

[2022-06-16 09:44] victorst79 commented on #811
Same config, same issue here. :disappointed:

[2022-06-16 18:06] gilbarbara commented on #811
hey guys,

Please use the reactions (emoji) in the first comment instead of replying with the "same here".

[2022-06-17 22:28] gilbarbara commented on #811
Fixed in 2.5.0
Thanks

[2022-06-17 22:28] #811 closed

[2022-06-17 22:29] gilbarbara commented on #793
Fixed in 2.5.0
Thanks

[2022-06-17 22:29] #793 closed

[2022-06-24 08:20] timonsword commented on #732
PR for fixing this issue: #814

[2022-06-24 13:26] mleister97 opened #815 "Misplaced position of the highlighting if using a mobile device and changing the orientation"
## 🐛 Bug Report

Misplaced position of the highlighting if using a mobile device and changing the orientation.

## To Reproduce

Please checkout your official website https://react-joyride.com/
Highlighting step 2 is not working as expected on an iPad (iPad Air (4. Generation), iOS 14.4.1) after chaning the orientation of the device

## Video

https://user-images.githubusercontent.com/16700053/175

[2022-06-24 14:52] mleister97 opened #816 "Flickering when scrolling on iPad"
## 🐛 Bug Report

Scrolling on page end on an iPad causes flickering

## To Reproduce

Please checkout your official website https://react-joyride.com/
Scrolling on page end on an iPad (iPad Air (4. Generation), iOS 14.4.1) causes flickering

## Video

https://user-images.githubusercontent.com/16700053/175561059-603b5867-5662-45f1-99ff-4478d973a6c6.mp4

[2022-06-24 16:27] gilbarbara commented on #816
hey @mleister97

Not sure how can this be "fixed"...
Feel free to submit a PR

[2022-06-24 16:37] gilbarbara commented on #815
hey @mleister97

Couldn't replicate this behavior with Browserstack. The spotlight re-arranged itself to the correct position after rotating.

Feel free to submit a PR.

[2022-06-25 06:18] MikeShi42 opened #817 "Dynamically mounting Joyride causes scrolling even if scrolling is disabled in props"
## 🐛 Bug Report

I'm attempting to use multiple Joyrides on a single long page, I found initially that Joyride seems to get confused between multiple instances and will scroll between steps between multiple instances of Joyride.

I've tried to overcome this by dynamically mounting Joyride if the component is within View so that only one Joyride is active at a time, however it seems like the compon

[2022-06-25 18:04] mleister97 commented on #815
Have you tried using the same iPad as mentioned in the description?

[2022-06-25 18:11] mleister97 commented on #816
Also tried on an older iPad, did not experience the issue there (iPad Air iOS 12.4.8)

[2022-06-28 02:51] attuned-michele opened #819 "Not possible to change Last Button style"
## 🐛 Bug Report

I want to change the Last Button style in each step, but there isn't an option for that, only for Next Button that also reflects on the Last Button style

## To Reproduce/Expected behavior

I start adding only one step in the Joyride and depending on the user behavior, I add one more step and so on. So at first shows the "Last Button", and if I add one more step, the button change

[2022-06-28 16:13] gilbarbara commented on #819
hey @attuned-michele

This isn't a bug. You can use a [custom component](https://docs.react-joyride.com/custom-components) and have any configuration you want.

[2022-07-06 03:37] GreenAsJade opened #822 "The README points to Spectrum community, which is no longer active"
## 🐛 Bug Report

The README points to Spectrum community, which is no longer active

## To Reproduce

Navigate to README and click on the "Community" link

See the Spectrum messages saying "we've moved".

## Expected behavior

Arriving at an active community

## Link to repl or repo (highly encouraged)

https://github.com/gilbarbara/react-joyride#react-joyride

[2022-07-07 01:02] RanniePavillon commented on #592
Here's the answer:

floaterProps={{
        styles:{
            floaterOpening:{
                left:'-64px'
            }
        }
    }}

[2022-07-21 20:34] tenor-io commented on #361
Same problem here on 2.5.0

![image](https://user-images.githubusercontent.com/70980489/180310215-98359c5f-1817-4889-8326-1cb047e5d6ba.png)

[2022-07-21 22:22] gilbarbara commented on #361
Hey!

This issue was about the beacon with React 15.x. If you're having problems with the floater, open a new issue with a codesnadbox example.

[2022-07-27 11:50] johnhunter opened #829 "Cannot read properties of null (reading 'isConnected') in react-floater"
### Discussed in https://github.com/gilbarbara/react-joyride/discussions/820

<div type='discussions-op-text'>

<sup>Originally posted by **johnhunter** July 13, 2022</sup>

I'm seeing an occasional exception Cannot read properties of null (reading 'isConnected')

[code]
https://github.com/gilbarbara/react-floater/blob/v0.7.5/src/components/index.js#L274

I've been unable to reproduce but it is re

[2022-07-28 10:31] MalikBagwala commented on #499
@gilbarbara This does not work when you want to show the progress. In my case I always want to show the progress but I just want to disable next in certain steps.

[2022-07-28 10:31] MalikBagwala commented on #499
@gilbarbara This does not work when you want to show the progress. In my case I always want to show the progress but I just want to disable next in certain steps.

[2022-07-28 14:59] gilbarbara commented on #499
Hey @MalikBagwala

This issue was about hiding the next button entirely, and it has been closed for three years.
Since then, we have moved these questions to the Discussion board, where the community could help as well,

Anyway, you can read the [docs](https://docs.react-joyride.com/custom-components) on how to use custom components.

[2022-08-02 18:35] gs96222 commented on #789
If you are using control mode, I am just doing a restart of the Tour, which seems to be a good hacky workaround for me.

[2022-08-04 12:11] terragady commented on #357
When I am doing it I get "Unhandled Rejection (TypeError): Cannot read properties of null (reading 'isConnected')"

[2022-08-08 14:47] OleksiiKachan opened #835 "peer dependencies"
## 🐛 Bug Report

`prop-types` should not be a peer dependency. I don't use prop types in my project, but I do use `react-joyride`. Since `prop-types` is a peer dependency, I always get warning (for both joyride and floater btw) `has unmeet peer dependency`. You already have `prop-types` in dev dependencies. what is the reason of it being in peer dependencies?

## To Reproduce

Steps to reproduce t

[2022-08-08 20:34] hewseph commented on #567
I'm having the same problem 1 and a half years later. My target element on the step is a `<form>...</form>`. I enabled spotlightClicks. And I am using a normal generic input that I styled. I cannot focus the input on clicks.

[2022-08-09 14:25] gilbarbara commented on #835
Updated in a2098985817a80e0818c9e7f3eff1bab417efd2b

[2022-08-09 14:25] #835 closed

[2022-08-09 14:25] gilbarbara commented on #829
Fixed in 2.5.1
Thanks

[2022-08-09 14:25] #829 closed

[2022-08-10 06:16] dcworldwide commented on #784
I also agree, that the user should be able to define a callback, so that the transition between step before and step after does not occur until the step before callback is fired. Allowing for the developer to inject async behaviour (such as route navigation) before the library attempts to attach the step to the DOM.

[2022-08-10 09:24] dcworldwide opened #837 "Controlled tour does not work when the tour needs to be suspended during step:before"
## 🐛 Bug Report

When a new tour step is started, I need to pause the tour, change the app route, resume the tour.

step:before can't be used for this purpose. It creates an infinite loop.

I have assumed that the DOM binding to the target happens after step:before as that seems logical.

Thank you

**Step:before** logic with callback

[code]

This code works if applied during step:after... howeve

[2022-08-10 14:45] gilbarbara commented on #837
hey @dcworldwide

This behavior isn't a bug, it was designed that way.

Did you check the demo source code?
The [MultiRoute example](https://github.com/gilbarbara/react-joyride-demo/blob/main/src/MultiRoute/Wrapper.tsx) shows how to achieve that

[2022-08-10 14:45] #837 closed

[2022-08-11 08:52] dcworldwide commented on #837
There is a bug in your example.

If the user is on page X and the first step of the tour is page Y, your example won't support that, due to the issue i mentioned earlier.

[2022-08-11 20:26] gilbarbara commented on #837
@dcworldwide

The example works for that particular case, so it can be changed to suit other needs.

There's no bug in the lifecycle, it just doesn't match your expectation.
 If you want to suggest this change, add it to Discussions so we gather feedback.

[2022-08-12 04:51] dcworldwide commented on #837
Ok. If you just stopped and tried it yourself, you'll see that your library can't support my use case.

[2022-08-12 13:29] gilbarbara commented on #837
You can change the route and then start the tour.

I can't accept a PR for this change as it would break the current flow and require a major version, which needs some other changes that I can't deal with now.

[2022-08-13 01:13] dcworldwide commented on #837
👌 I will branch or work around it for now

For context. Our tours are opened from a high level menu within our software. At the time of a tour being started, the users route could be anywhere within the software. In controlled mode, not only do we change routes, we also use events per tour step to interact with our view model ..which in turns renders to affect dom updates (i.e. open a drop down, a

[2022-08-16 15:34] JordanDC2 opened #838 "`placement: "center"` on the first step of a controlled tour can cause issues in controlled tour mode"
## 🐛 Bug Report

If in controlled tour mode with a `placement: "center"` step prop, when clicking the back button to go back to the first step the tour will not fire the `action: "prev"` `type: "step:before"` callback event, nor the subsequent tooltip update event, thus causing the tour to break.

This issue appears to happen on the first step of the tour. Subsequent steps with `placement: "center

[2022-08-18 14:22] daveidivide commented on #784
I agree, this would seem much more intuative for how it works.

I'm having a bit of a nightmare at the moment creating a custom hook for our UI Library package that uses react-joyride.

Storing the state in context and passing it around is working, but a bit clunky.

Appreciate gilbarbara has built the `run` prop into it, which should work just fine.

But same as everyone else, took me a while to

[2022-08-18 15:10] vishwakarmanikhil commented on #838
@gilbarbara can you provide any solution for this, I encountered the same issue today.

[2022-08-22 09:51] capucineSoum commented on #811
Hello,
I am still experiencing the issue with one step with the React Strict mode on. I have the 2.5.0 version of React Joyride.

Thank you

[2022-08-22 17:23] gilbarbara commented on #811
Hey @capucineSoum

Update to the `2.5.1`. If it still isn't working, create a new issue with a codesandbox.

[2022-09-01 08:58] terragady commented on #838
same issue for me, breaking the tour when I am coming back to step 1. Also noticed that it is depended on other things, if you do not use custom callback it works fine, and if target is not set to some wrappers around elements.

[2022-09-01 09:00] terragady commented on #789
how do you do restart of the tour? I am having this issue of  dropping the overlay and not able to click next on the 1st step when

[2022-09-01 12:51] capucineSoum commented on #811
Hi @gilbarbara,
I did the update and the issue is still there but it is not linked to the strict mode as I was thinking. I will continue looking for a solution.

[2022-09-01 14:03] jestrickler commented on #789
I have state passed from the parent component where I use a menu item to start the tour:
`const [runTour, setRunTour] = useState(false)`

Then I use the joyride helpers and callback to reset the tour:
[code]

[2022-09-01 19:44] gilbarbara commented on #519
Fixed in 2.5.x

[2022-09-01 19:44] #519 closed

[2022-09-01 19:59] gilbarbara commented on #777
Fixed in 2.5.0

[2022-09-01 19:59] #777 closed

[2022-09-01 20:18] gilbarbara commented on #817
Hey @MikeShi42

The button focus is for accessibility; without it, screen readers won't be able to navigate the tour.
The page will only scroll if the tooltip is outside the viewport. Is that the case?

Anyway, changing the Scope class isn't a good choice for this. If you have another approach, let me know.

[2022-09-01 20:32] #468 closed

[2022-09-01 23:54] #789 closed

[2022-09-01 23:56] gilbarbara commented on #838
Fixed in 2.5.2

[2022-09-01 23:56] #838 closed

[2022-09-01 23:56] gilbarbara commented on #789
Fixed in 2.5.2

[2022-09-02 06:59] MikeShi42 commented on #817
Yes if the toolitp is outside of the viewport it'll cause scrolling. My use case is a bit unconventional with a long scrolling page with multiple Joyride instances throughout in the page. I'm wondering still if there's possibly an escape hatch users can specify to completely eliminate Joyride's ability to control scrolling (including the current focus mechanism).

I'm not too familiar with needing

[2022-09-04 17:34] gilbarbara commented on #817
Maybe using [preventScroll](https://developer.mozilla.org/en-US/docs/Web/API/HTMLElement/focus) in the `focus` call is a better choice?

[2022-09-05 12:42] hcjlxl opened #843 "Version of tree changes"
## 🐛 Bug Report

react-joyride's version is 2.5.0.
Error reported by using reactjoyride

## To Reproduce

This error was given to me when I reinstalled the project dependency
![20220905-194905](https://user-images.githubusercontent.com/48499668/188446122-a1e689eb-ab1a-4049-b171-e802d25f5e26.jpg)
I found that there was a problem with the tree-changes upgrade in the recent update.
This error will ap

[2022-09-05 16:57] gilbarbara commented on #843
Hey @hcjlxl

Did you try to upgrade react-joyride to 2.5.2?

I've tried running the demo with 2.5.0 and tree-changes 0.9.2 without problems.
What are you using to build your app? create-react-app, webpack, vite?
Are your dependencies up-to-date?

I created this [codesanbox](https://codesandbox.io/s/react-joyride-test-b2dofq), and it worked.
Can you reproduce it in a codesandbox?

[2022-09-06 02:57] dxq2641249797 commented on #843
Please create new app to try. I believe most people have this problem. At present, it is not convenient for me to use codesanbox. Thank you.

[2022-09-06 03:04] dxq2641249797 commented on #843
And it is not about to build

[2022-09-06 03:11] hcjlxl commented on #843
I use the project created by create-react-app. This error occurs in the create-react-app of 4.0.3. At the same time, you need to use the tree-changes version of 0.9.2

[2022-09-06 04:42] hcjlxl commented on #843
I created this [codesanbox](https://codesandbox.io/p/github/hcjlxl/react-joyride-demo/csb-m57h21/draft/reverent-engelbart?file=%2Fpackage.json)，I edited the previous comment just now. I'm afraid you didn't notice. I added another one

[2022-09-06 14:15] ayusshar commented on #843
Facing similar issue

[2022-09-06 14:31] shreyas-kamath01 commented on #843
https://github.com/gilbarbara/tree-changes/pull/24 - the version update is in the process of being reverted as per this PR

[2022-09-12 04:47] krishgt60 commented on #815
Even we are facing the same issue, so please can someone help me out with this, its bit urgent

Thank you

[2022-09-16 15:35] SanujBansal commented on #594
@gilbarbara This PR fixed the position of spotlight where we don't have a scrolling parent #845
However, in case we have a scrolling parent due to incorrect scroll position, we still have the issue. Can you point to to the file where we are managing the scroll. Maybe I will be able to figure it out there as well.

[2022-09-20 07:31] Artoria-0x04 commented on #557
When to upgrade embedded `react-floater` to support this?

[2022-09-26 16:56] faangpath commented on #594
@gilbarbara Does this solution look good?

[2022-09-28 12:59] gilbarbara commented on #594
Hey @SanujBansal
Thanks for the PR. However, we need a solution that works for both cases.
This issue is about custom scrolling elements.

[2022-09-29 08:23] faangpath commented on #594
@gilbarbara I believe @SanujBansal is happy to implement the other scenario.

If you could help out with a bit of context from your end, it is solvable.

[2022-09-29 17:19] gilbarbara commented on #594
It is the same function...

[2022-10-04 05:42] Lokprakash-babu opened #851 "Spotlight is not rendering properly"
## 🐛 Bug Report

If the background color of the body is not set to white explicitly, spot light is not being rendered.

## To Reproduce

- Create a basic react app
- Install react joyride
- Configure React joyride for walkthrough

## Expected behavior

Spotlight should be displayed properly irrespective of the background color in the DOM.

## Link to repl or repo

[codesandbox link](https://codesa

[2022-10-04 15:27] gilbarbara commented on #851
Hey @Lokprakash-babu

This limitation has already been discussed in #411

It is the expected behavior since `mix-blend-mode` expects a background to work.
https://developer.mozilla.org/en-US/docs/Web/CSS/mix-blend-mode

[2022-10-04 15:27] #851 closed

[2022-10-04 23:35] gpfunk commented on #702
@IgnusG

I ran into this as well, ended up grabbing the element directly, rather than using the tooltip ref (which seemed like it wasn't being set in time and was causing the error)

[code]

[2022-10-05 05:01] Lokprakash-babu commented on #851
Hey @gilbarbara
Can we capture this limitation somewhere in the doc, please? If it isn't done already. I am happy to raise a PR.

[2022-10-14 22:15] JoeyAtSS commented on #594
I have the same issue, the tour doesnt scroll sometimes, which causes the spotlight to be out of place.

[2022-10-15 03:41] JoeyAtSS commented on #817
I have the opposite effect, dynamic loading causes scroll not to work. My app have a few widgets in the home screen. So i have a {WidgetsReady && <Joyride..../>}, this is because i dont want the tour to start when the widgets aren't loaded yet.

I even tried <Joyride run={widgetsReady} .../>, but it still wont scroll... any idea why? @gilbarbara @MikeShi42

[2022-10-19 03:19] boompikachu opened #855 "In chrome (mobile), user has to touch twice to press what's behind the overlay during spotlight"
## 🐛 Bug Report

When spotlight is active, the overlay will have a style `pointer-event: auto`; however, this will change to `pointer-event: none` when mouse is hovering the spotlight area. As for mobile, since there's no hovering, user has to press twice, one to hover on the spotlight and the other to click on the element.

Note that iPhone Safari works

## To Reproduce
See https://codesandbox.io

[2022-10-26 13:23] DanLeCornu opened #857 "Error in Next.js production environment: TypeError: undefined is not an object"
## 🐛 Bug Report

In a Next.js production environment, when the Joyride component prop "run" is set to true, it throws a runtime error:

`Unhandled Promise Rejection: TypeError: undefined is not an object (evaluating 'l[c=(l=n.split(/(\+|\-)/).map(function(e){return e.trim()})).indexOf(eT(l,function(e){return -1!==e.search(/,|\s/)}))]')`

and the Joyride component is not rendered. Works fine in loc

[2022-11-08 11:51] mhjmaas commented on #857
+1 on this. I have the same issue after upgrading to Next 13 and React 18. Would love to see a fix or workaround since our entire onboarding is based on Joyride and would love to keep using it.

[2022-11-10 07:24] tientm-dsv commented on #857
+1 on this. I have the same issue

[2022-11-12 13:14] fjavierv opened #861 "Problems with touch devices."
Hi, first of all thanks for this project.

After that, I have problem using your library with touch devices (phones, tables, ...) and I think that it is about this line:

https://github.com/gilbarbara/react-joyride/blob/88853fea5d5940ae5e71dc81681406102dceef50/src/components/Overlay.js#L199

Because mouseOverSpotlight won't be true in touch devices, right?

You can test for you self in **Controlle

[2022-11-12 17:18] tientm-dsv commented on #857
Hey everyone, I found the root cause. I met this issue when I upgraded webpack from v4 to v5. So I try downgrading to v4 and it works perfectly 🎉 . Hope this helps everyone

[2022-11-14 08:07] mhjmaas commented on #857
Great to see you have found a workaround. I'm afraid it will not help those who are using NextJS, like myself because this does not allow us to downgrade to Webpack 4. (unless still running NextJS 11). But it for sure helps in the debugging I guess.

[2022-11-14 11:59] JClackett commented on #857
Has anyone found a work around for next.js users yet?

[2022-11-14 12:03] JClackett commented on #857
@mhjmaas it looks like react-joyride is using the latest version of react-floater that does use the @popperjs/core package?

[2022-11-14 15:45] mhjmaas commented on #857
You're right. I must have been looking at an older version in my node_modules. It doesn't make a difference then...

[2022-11-19 22:37] gilbarbara commented on #857
Hey!
I finally had some time to take a look at this. Sorry for the delay.

This problem is with the experimental SWC minification using the `swcMinify` config. It tries to optimize too much, leading to the offset variable not being used before it is declared.
It's not a problem with the version of popper.js or any other dependency.
There's a [discussion](https://github.com/vercel/next.js/discussio

[2022-11-19 22:40] #857 closed

[2022-11-20 13:07] JClackett commented on #857
Thanks for responding! any ideas if it's possible to refactor in some way to get it working with

[2022-11-20 13:11] gilbarbara commented on #857
@JClackett
Not really. It's a problem with their implementation of SWC, and that's why it is flagged as experimental.

[2022-11-20 13:12] JClackett commented on #857
Yeah all good, it is enabled by default now in next 13 though. They've marked it as stable

[2022-11-20 16:02] gilbarbara commented on #857
@JClackett
I just confirmed that SWC Minifier was marked as stable. I was confused by the debug options still available in the [docs](https://nextjs.org/docs/advanced-features/compiler#minifier-debug-options).

The problem is that the SWC minification breaks an external library code. The [discussion](https://github.com/vercel/next.js/discussions/30237) for SWC minification is still very active, so

[2022-11-21 12:45] kdy1 commented on #857
Did you try canary?
There's only known one minifier issue at the moment

[2022-11-21 12:58] JClackett commented on #857
For people in this thread, open discussion about swc minifier [here](https://github.com/vercel/next.js/discussions/30237#discussioncomment-4195233)

[2022-11-22 08:38] the-mgi opened #864 "Bug when triggering joyride steps"
## 🐛 Bug Report

Whenever joyride steps is triggered, throwing an error only in production code

## To Reproduce
import variables from '../../styles/variables.module.scss';

joyride steps
[code]

styles
[code]

joyride elemet
[code]
error
![image](https://user-images.githubusercontent.com/70032816/203265297-70f99c91-ec6c-4f51-844d-fdfa0cead95a.png)

## Expected behavior

joyride steps successfully

[2022-11-22 12:07] gilbarbara commented on #864
Hey @the-mgi

What are you using to build your app?
If you are using next.js, there's a known [issue](https://github.com/gilbarbara/react-joyride/issues/857) with the swcMinify

[2022-11-22 14:48] the-mgi commented on #864
okay, got it, thanks.

[2022-11-22 14:48] #864 closed